Repository pagopa/cstar-infrastructure, pull requests merged in 2021-11, with the labels that each got.

#252 Add host name whit ingress reference
  src/k8s/bpd_configmaps.tf
Labels: status: applied, env: dev, env: uat, env: prod

#249 set ingress ip to invoke bpd's mock api
  src/k8s/fa_configmaps.tf
  src/k8s/fa_secrets.tf
  src/k8s/secrets.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
Labels: status: applied, env: dev, env: uat, env: prod

#253 [CEN-931] Simple clone (no indexes nor columns attributes) of bpd_citizen_ranking
  src/psql/migrations/PROD-CSTAR/bpd/V9__bpd_backup_citizen_ranking_for_supercashback.sql
Labels: status: applied, env: prod

#254 [CEN-930] Unschedule Ranking Processor
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
Labels: status: applied, env: prod

#255 CEN-950 configmap and secret for FaNotificationManager microservice
  src/k8s/configmaps/famsnotificationmanager/NOTIFICATION_SERVICE_INVOICE_MARKDOWN_KO.txt
  src/k8s/configmaps/famsnotificationmanager/NOTIFICATION_SERVICE_INVOICE_MARKDOWN_OK.txt
  src/k8s/fa_configmaps.tf
  src/k8s/fa_ingress.tf
  src/k8s/fa_secrets.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
  src/k8s/variables.tf
Labels: status: applied, env: dev, env: uat, env: prod

#257 add env var in famstransaction and famsinvoicemanager configmap
  src/k8s/configmaps/famsnotificationmanager/NOTIFICATION_SERVICE_INVOICE_MARKDOWN_OK.txt
  src/k8s/fa_configmaps.tf
Labels: status: applied, env: dev, env: uat, env: prod

#258 [CEN-911] Add HPA to microservice Enrollment
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
Labels: status: applied, env: prod

#259 [CEN-912] Horizontal POD Autoscaler micro-service BPD Winning Transaction
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
Labels: status: applied, env: prod

#261 [CEN-979] HPA for micro-service Award Period
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
Labels: status: apply in progress, env: prod

#262 [CEN-1002] Scale Down PROD DB
  src/env/prod/terraform.tfvars
Labels: status: applied, env: prod

#266 add configmap and secret for fa-trx-error
  src/k8s/fa_configmaps.tf
  src/k8s/fa_secrets.tf
Labels: status: applied, env: dev, env: uat, env: prod

#264 [CEN-1012] Scale down DB to 4 core and remove custom configs
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
Labels: status: applied, env: uat, env: prod

#235 Fix infralogs
  src/monitor.tf
  src/security.tf
Labels: status: applied, env: prod

#265 [CEN-1006] Add HPA for microservice award winner
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
Labels: status: applied, env: prod

#268 add ingress config for famstransactionerrormanager
  src/api.tf
  src/api/fa_mock/searchAcquirerTransactionErrorUsingPOST_policy.xml.tpl
  src/api/fa_mock/swagger.json.tpl
  src/k8s/fa_ingress.tf
Labels: status: applied, env: dev

#271 [CEN-1032] Cluster autoscaling
  src/aks.tf
  src/env/prod/terraform.tfvars
  src/variables.tf
Labels: status: applied, env: prod

#274 [CEN-1057] Remove custom metrics (micrometer)
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
Labels: status: applied, env: dev, env: uat, env: prod

#270 [CEN-1008] Add HPA for microservice transaction error manager
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
Labels: status: applied, env: prod

#267 [CEN-1010] Add HPA for microservice ranking processor
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
Labels: status: applied, env: prod

#275 [CEN-1066] Grant PDND access on master DBMS in prod
  src/env/prod/terraform.tfvars
Labels: status: applied, env: prod

#276 [CEN-1060] Set env of notification manager to send only relevant notifications
  src/k8s/bpd_configmaps.tf
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
Labels: status: applied, env: uat, env: prod

#277 [CEN-1045] Add configmap for RTD transaction filter service
  src/k8s/rtd_configmaps.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/variables.tf
Labels: status: applied, env: dev, env: uat, env: prod

#278 [CEN-1046] Add secrets for RTD transaction filter service
  src/k8s/rtd_configmaps.tf
  src/k8s/rtd_secrets.tf
  src/k8s/secrets.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
  src/k8s/variables.tf
Labels: status: applied, env: dev

#272 fix policy of transaction io list API
  src/api/fa_io_transaction/getTransactionListUsingGET_policy.xml.tpl
Labels: status: apply in progress, env: dev

#280 [CEN-1067] return fixed salt value on development environment
  src/api/rtd_payment_instrument_manager/get-hash-salt_policy.xml.tpl
Labels: status: apply in progress, env: dev
