Repository pagopa/cstar-infrastructure, pull requests merged in 2021-12, with the labels that each got.

#281 [CEN-1092] Remove DBMS replica and related configurations and alarms
  src/env/prod/terraform.tfvars
Labels: status: applied, env: prod

#282 [CEN-1093] Scale Down Prod DBMS SKU to 2 V-Core
  src/env/prod/terraform.tfvars
Labels: status: applied, env: prod

#283 [CEN-1060] Reschedule batch to send wire transfer orders every 15 gg
  src/k8s/bpd_configmaps.tf
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
Labels: status: applied, env: prod

#284 [CEN-1095] Modify caching-type in APIM policies from external to preferred-external
  src/api/bpd_hb_citizen/original/del_delete_policy.xml.tpl
  src/api/bpd_hb_citizen/original/get_find_policy.xml
  src/api/bpd_hb_citizen/original/get_find_ranking.xml
  src/api/bpd_hb_citizen/original/patch_update_payment_method.xml
  src/api/bpd_hb_citizen/original/put_enrollment_citizen_hb.xml.tpl
  src/api/bpd_hb_citizen/v2/del_delete_policy.xml.tpl
  src/api/bpd_hb_citizen/v2/get_find_policy.xml
  src/api/bpd_hb_citizen/v2/get_find_ranking.xml
  src/api/bpd_hb_citizen/v2/patch_update_payment_method.xml
  src/api/bpd_hb_citizen/v2/put_enrollment_citizen_hb.xml.tpl
  src/api/bpd_hb_payment_instruments/v2/deldeletepaymentinstrumenthb_policy.xml.tpl
  src/api/bpd_hb_payment_instruments/v2/getstatuspaymentinstrumenthb_policy.xml.tpl
  src/api/bpd_io_citizen/original/deleteUsingDELETE_policy.xml.tpl
  src/api/bpd_io_citizen/original/enrollment_policy.xml.tpl
  src/api/bpd_io_citizen/original/findRankingUsingGET_policy.xml
  src/api/bpd_io_citizen/original/findUsingGET_policy.xml
  src/api/bpd_io_citizen/original/updatePaymentMethodUsingPATCH_policy.xml
  src/api/bpd_io_citizen/v2/deleteUsingDELETE_policy.xml.tpl
  src/api/bpd_io_citizen/v2/enrollment_policy.xml.tpl
  src/api/bpd_io_citizen/v2/findRankingMilestoneUsingGET_policy.xml
  src/api/bpd_io_citizen/v2/findRankingUsingGET_policy.xml
  src/api/bpd_io_citizen/v2/findUsingGET_policy.xml
  src/api/bpd_io_citizen/v2/updatePaymentMethodUsingPATCH_policy.xml
  src/api/fa_hb_customer/deleteUsingDELETE_policy.xml.tpl
  src/api/fa_hb_customer/enrollmentUsingPUT_policy.xml.tpl
  src/api/fa_hb_customer/findUsingGET_policy.xml.tpl
  src/api/fa_hb_payment_instruments/deleteUsingDELETE_policy.xml.tpl
  src/api/fa_hb_payment_instruments/findUsingGET_policy.xml.tpl
  src/api/fa_io_customer/deleteUsingDELETE_policy.xml.tpl
  src/api/fa_io_customer/enrollmentUsingPUT_policy.xml.tpl
  src/api/fa_io_customer/findUsingGET_policy.xml.tpl
  src/api_product/app_io/policy.xml.tmpl
Labels: status: applied, env: dev, env: uat, env: prod

#285 [CEN-1096] extract payment instruments every 15 minutes in DEV
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
Labels: status: applied, env: dev

#289 [CEN-1082] set JAVA_TOOL_OPTIONS on RTD transaction filter DEV
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
Labels: status: applied, env: dev

#286 [CEN-1097] Destroy external redis cache and detach it from APIM
  src/api.tf
  src/outputs.tf
  src/redis_cache.tf
Labels: status: applied, env: dev, env: uat, env: prod

#288 [CEN-1103] Add Index on fiscal code to winning transaction transfer
  src/psql/migrations/PROD-CSTAR/bpd/V10__optimization_delete_citizen.sql
Labels: status: applied, env: prod

#290 [CEN-1126] Updated batch acquirer DEV (and default) configmap
  src/k8s/rtd_configmaps.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
Labels: status: applied, env: dev

#291 Aks audit log
  src/aks.tf
Labels: status: apply in progress, no merge, env: prod

#292 [CEN-1084] Enabled encryption of file produced by RTD transactionfilter
  src/k8s/rtd_configmaps.tf
  src/k8s/rtd_secrets.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
Labels: status: applied, env: dev

#293 Cen 908 new public key
  src/k8s/bpd_configmaps.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
Labels: env: dev, env: prod

#295 [CEN-1132] Get provider's info by shop id
  src/api.tf
  src/api/fa_ext_merchant/activeContractByShopIdUsingGet_policy.xml.tpl
  src/api/fa_ext_merchant/contractListByShopIdUsingGet_policy.xml.tpl
  src/api/fa_ext_merchant/swagger.json.tpl
Labels: status: apply in progress, env: dev

#296 [CEN-1134] Add contractId in API's input body
  src/api/fa_mock/swagger.json.tpl
  src/api/fa_register_transaction/openapi.json.tpl
Labels: status: applied, env: dev

#298 Cen 1203 get provider list
  src/api.tf
  src/api/fa_ext_provider/providerListUsingGET_policy.xml.tpl
  src/api/fa_ext_provider/swagger.json.tpl
Labels: env: dev

#299 [CEN-1155] Update publickey and keystore paths
  src/k8s/rtd_configmaps.tf
Labels: status: applied, env: dev

#300 Web availability tests
  src/.terraform.lock.hcl
  src/README.md
  src/api.tf
  src/env/prod/terraform.tfvars
  src/k8s/bpd_configmaps.tf
  src/k8s/bpd_deployments_hpa.tf
  src/k8s/bpd_secrets.tf
  src/k8s/fa_configmaps.tf
  src/k8s/fa_secrets.tf
  src/k8s/rtd_configmaps.tf
  src/k8s/rtd_secrets.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
  src/k8s/variables.tf
  src/main.tf
  src/monitor.tf
Labels: status: applied

#301 [CEN-1229] Remove jumpbox
  src/.terraform.lock.hcl
  src/jumphost.tf
  src/outputs.tf
Labels: status: applied, env: dev, env: uat, env: prod

#302 Reschedule notification service
  src/k8s/bpd_configmaps.tf
  src/k8s/scripts/setup.sh
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
Labels: status: applied, env: prod
