Repository pagopa/cstar-infrastructure, pull requests merged in 2022-12, with the labels that each got.

#702 feat: Adapt the timeline API to support TS codegen
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
Labels: dev, uat, prod, applied dev, applied uat, applied prod

#688 chore: [RTD-925] Serialize copy activities aggregates ingestor
  src/domains/tae-app/pipelines/aggregatesIngestor.json.tpl
  src/domains/tae-app/pipelines/aggregatesIngestorTesting.json.tpl
Labels: applied in all environments, dev, uat, prod, tae-app

#705 feat: [RTD-628] Expose bin range api
  src/core/api/rtd_payment_instrument_token/get-bin-range-policy.xml
  src/core/api/rtd_payment_instrument_token/openapi.yml
  src/core/api_rtd.tf
Labels: dev, applied dev, core

#704 fix: [RTD-1091] Change result code in sender auth alert query
  src/domains/tae-app/00_monitor.tf
Labels: no apply, prod, tae-app

#700 fix: [RTD-1029] Add check header policy on rtd api product
  src/core/api_product/rtd_api/policy.xml
Labels: dev, uat, prod, applied dev, applied uat, applied prod

#694 chore: [RTD-989] setup ingestor configmap uat
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
Labels: applied in all environments

#707 fix: [RTD-1103] Fix long in data explorer
  src/domains/tae-app/scripts/create_tables.dexp
Labels: dev, uat, prod, applied dev, applied uat, applied prod

#706 chore: [RTD-931] Cap batch size and connections in aggregates ingestor
  src/domains/tae-app/pipelines/aggregatesIngestor.json.tpl
  src/domains/tae-app/pipelines/aggregatesIngestorTesting.json.tpl
Labels: applied in all environments, dev, uat, prod

#710 fix: [RTD-1104] Set total amount to long in Data Factory pipelines
  src/domains/tae-app/07_datasets.tf
  src/domains/tae-app/pipelines/ackIngestor.dataflow
  src/domains/tae-app/pipelines/aggregatesIngestor.json.tpl
  src/domains/tae-app/pipelines/aggregatesIngestorTesting.json.tpl
  src/domains/tae-app/pipelines/aggregatesSchema.json
Labels: applied in all environments, dev, uat, prod, tae-app

#685 feat: [RTD-710] Bulk delete aggregates for timestamp
  src/domains/tae-app/08_pipeline.tf
  src/domains/tae-app/README.md
  src/domains/tae-app/pipelines/bulkDeleteAggregates.dataflow
  src/domains/tae-app/pipelines/bulkDeleteAggregates.json
  src/domains/tae-app/pipelines/deleteAggregatesByTimestamp.json
Labels: dev, uat, applied dev, applied uat, tae-app

#708 fix: shutdown bpd notification service
  src/k8s/bpd_configmaps.tf
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
Labels: prod, applied prod

#712 fix: [RTD-1032] Restore pm salt
  src/core/api/rtd_payment_instrument_manager/get-hash-salt_policy.xml.tpl
  src/core/api_rtd.tf
Labels: dev, uat, prod, applied dev, applied uat, applied prod, core

#709 chore: [RTD-1049] Copy common secrets to RTD-KV
  src/core/99_outputs.tf
  src/core/README.md
  src/domains/rtd-app/01_keyvault.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-common/01_keyvault_external_database.tf
  src/domains/rtd-common/01_keyvault_external_eventhub.tf
  src/domains/rtd-common/99_main.tf
  src/domains/rtd-common/99_variables.tf
  src/domains/rtd-common/README.md
  src/domains/rtd-common/env/dev/terraform.tfvars
  src/domains/rtd-common/env/prod/terraform.tfvars
  src/domains/rtd-common/env/uat/terraform.tfvars
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-app, rtd-common, core

#714 chore: [RTD-1048]: SenderAuth config map to new aks
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: dev, uat, applied dev, applied uat, rtd-app

#703 feat: IREER-219 storing serviceBus Manage Rule ConnectionSecret into keyvault
  src/domains/idpay-common/04_service_bus.tf
  src/domains/idpay-common/README.md
Labels: applied in all environments, dev, uat, prod, idpay-common

#695 feat: IREER-125 added onboardingRankingRule collection
  src/domains/idpay-common/03_database.tf
Labels: applied in all environments, dev, uat, prod, idpay-common

#717 feat: IPE-602 definizione swagger per download graduatoria
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/08_k8s_configmaps.tf
  src/domains/idpay-app/09_initiative_storage.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_initiative/get-ranking-download.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/get-ranking.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_initiative/put-ranking-notify.xml.tpl
Labels: applied in all environments, dev, uat, prod, idpay-app

#716 fix: [RTD-1054] Switch Ingress APIM senderauth
  src/core/README.md
  src/core/api/azureblob/azureblob_authorizative_policy.xml
  src/core/api/rtd_filereporter/get-file-report-policy.xml.tpl
  src/core/api/rtd_senderack_download_file/azureblob_policy.xml
  src/core/api/rtd_senderack_filename_list/policy.xml.tpl
  src/core/api_rtd.tf
  src/core/api_tae.tf
  src/core/env/dev/terraform.tfvars
  src/core/variables.tf
Labels: dev, applied dev, core

#729 fix: Use versionless secret ID
  src/domains/idpay-app/04_apim_api_io.tf
Labels: applied in all environments, dev, uat, prod, idpay-app

#731 fix: Use versionless id pm api key
  src/core/api_pm.tf
Labels: applied in all environments, dev, uat, prod

#722 feat: ISB-633-swagger-timeline-card-circuit
  src/domains/idpay-app/api/idpay_issuer_onboarding_workflow/openapi.issuer.onboarding.yml.tpl
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-app

#728 chore: [RTD-1056]add pi-event-processor configmaps + common ones
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied in all envs, dev, uat, prod, rtd-app

#727 feat: [RTD-644] Add header to grant file uniqueness in blob upload policy
  src/core/api/azureblob/azureblob_authorizative_policy.xml
Labels: applied in all envs, core, all envs

#736 feat: [RTD-1144] set autoscale on filereports collection
  src/core/rtd_database.tf
Labels: applied in all envs

#738 fix: fix location string
  src/aks-platform/env/prod01/terraform.tfvars
Labels: prod, applied prod

#724 chore: [RTD-1109] Add pagopa key and tkm URL to enrolledpim configmap
  src/k8s/README.md
  src/k8s/rtd_secrets.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
Labels: applied in all envs, dev, uat, prod, applied dev, applied uat, applied prod

#740 feat: [RTD-858] Add alert on SAS failure
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#720 feat: [RTD-1141] add type index on fileregister collection
  src/core/rtd_database.tf
Labels: applied in all envs

#741 chore: [RTD-641] Add configmap for enrolled pim to new aks
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-app

#742 fix: [RTD-1171] updated apim tkm api key
  src/core/README.md
  src/core/api_rtd.tf
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
  src/k8s/README.md
  src/k8s/rtd_secrets.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-app, core

#743 chore: [RTD-1069] Add configmap to new aks for ingestor
  src/core/99_outputs.tf
  src/core/README.md
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-common/01_keyvault_external_database.tf
  src/domains/rtd-common/README.md
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-app, rtd-common

#744 chore: [RTD-1073] Add file-register configmaps to new aks
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-app

#745 chore: [RTD-1077] update apim file-register address to new aks ingress
  src/core/api/rtd_senderack_correct_download_ack/policy.xml
  src/core/api/rtd_senderack_download_file/azureblob_policy.xml
  src/core/api/rtd_senderack_filename_list/policy.xml.tpl
  src/core/api_rtd.tf
  src/core/api_tae.tf
Labels: dev, uat, applied dev, applied uat, core

#747 chore: [RTD-1069] Fix wrong ingestor as k8s secret
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/README.md
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-app

#748 fix: [RTD-1173] Add ip range to filter in aks requests to internal api
  src/core/README.md
  src/core/api_product/rtd_api_internal/policy.xml.tpl
  src/core/api_rtd.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/variables.tf
Labels: dev, uat, prod, applied dev, applied uat, applied prod, core

#746 chore: [RTD-1079] Add file-register-projector-consumer config map
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/README.md
Labels: dev, uat, prod, applied dev, applied uat, applied prod

#749 chore: [RTD-1082] Update filereport ingress url to new aks
  src/core/api/rtd_filereporter/get-file-report-policy.xml.tpl
  src/core/api_rtd.tf
Labels: dev, uat, applied dev, applied uat, core
