Repository pagopa/cstar-infrastructure, pull requests merged in 2022-07, with the labels that each got.

#417 add idpay consumer group for rtd-trx
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
Labels: status: applied, env: dev, env: uat, env: prod

#419 [TAE-73] Add adeack dataset
  src/README.md
  src/tae_datasets.tf
Labels: status: applied, env: dev

#420 [TAE-74] Create virtual directories
  src/README.md
  src/sftp.tf
Labels: status: applied, env: dev, env: uat, env: prod

#421 [TAE-75] Modify Destination Aggregate to write in IN directory of ADE container
  src/tae_datasets.tf
Labels: status: applied, env: dev

#423 [RTD-206] AdE file retrieve endpoint
  src/README.md
  src/api/rtd_deposited_file_check/azureblob_policy.xml
  src/api/rtd_deposited_file_check/openapi.yml
  src/api_rtd.tf
  src/sftp.tf
Labels: status: applied, env: dev

#425 Fix API Manager and Notification
  src/api/fa_register_transaction/getPosTransactionCustomerUsingGET_policy.xml.tpl
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
Labels: status: applied, env: dev, env: uat, env: prod

#426 [TAE-76] Add PIpeline to upsert status in mongodb
  src/README.md
  src/pipelines/ackIngestor.json
  src/tae_datasets.tf
  src/tae_pipeline.tf
Labels: status: applied, env: dev

#433 update swagger
  src/domains/idpay-app/api/idpay_timeline/swagger.timeline.json.tpl
  src/domains/idpay-app/api/idpay_wallet/swagger.wallet.json.tpl
Labels: status: applied, env: dev

#434 Removed headers APIM -> CDC
  src/api/cdc/policy.jwt.xml.tpl
Labels: status: applied, env: dev, env: uat, env: prod

#432 IREER-90 - add eventhub for rule-engine services
  src/domains/idpay-app/.terraform.lock.hcl
  src/domains/idpay-common/04_eventhub.tf
  src/domains/idpay-common/99_variables.tf
  src/domains/idpay-common/README.md
  src/domains/idpay-common/env/dev/terraform.tfvars
Labels: status: applied, env: dev

#429 add idpay-checkiban topic
  src/domains/idpay-common/04_eventhub.tf
  src/domains/idpay-common/README.md
  src/domains/idpay-common/env/dev/terraform.tfvars
Labels: status: applied, env: dev

#430 ISB-214-creazione-coda-timeline
  src/domains/idpay-common/env/dev/terraform.tfvars
Labels: status: applied, env: dev

#437 [TAE-83] Add pipeline RunId as field to ingested aggregates acks
  src/pipelines/ackIngestor.json
  src/tae_pipeline.tf
Labels: status: applied, env: dev, env: uat

#438 [TAE-82] Add dataset for wrong fiscal codes
  src/README.md
  src/tae_datasets.tf
Labels: status: applied, env: dev, env: uat

#439 [RTD-272] Notify cstar support email on new APIM subscription request
  src/README.md
  src/api.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/variables.tf
Labels: status: applied, env: uat

#440 IPE-126-definizione-swagger
  src/domains/idpay-app/04_apim_api_io.tf
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/04_apim_api_token_exchange.tf
  src/domains/idpay-app/99_locals.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_initiative/get-initiative-detail.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/get-initiative-summary.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/patch-initiative-beneficiary.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/patch-initiative-general.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/post-initiative-general.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/swagger.initiative.yml
  src/domains/idpay-app/api/idpay_role_permission/get-permission-policy.xml.tpl
  src/domains/idpay-app/api/idpay_role_permission/swagger.role.permission.yml
  src/domains/idpay-app/api/idpay_token_exchange/jwt_exchange.xml.tpl
  src/domains/idpay-app/api_product/app_io/policy.xml.tpl
  src/domains/idpay-app/api_product/portal_api/policy_portal.xml.tpl
Labels: status: applied, env: dev

#447 [TAR-97] Add mongo connection URI to secrets
  src/README.md
  src/database.tf
  src/k8s/rtd_secrets.tf
  src/k8s/scripts/setup.sh
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
Labels: status: applied, env: dev

#448 [RTD-296] Added cosmos db collection for enrolled-payment-instrument ms
  src/README.md
  src/database.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/k8s/README.md
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
  src/k8s/variables.tf
  src/variables.tf
Labels: status: applied, env: dev

#449 Tae 78 ackingestor split activity
  src/domains/tae-app/06_linked_service.tf
  src/domains/tae-app/08_pipeline.tf
  src/domains/tae-app/pipelines/ackIngestor.dataflow
Labels: status: applied, env: dev, env: uat

#450 [RTD-295] Added event hub for enrolled payment instrument ms
  src/env/dev/terraform.tfvars
Labels: status: applied, env: dev

#453 [RTD-305] Add k8s config to enrolled-payment-instrument ms
  src/k8s/README.md
  src/k8s/rtd_configmaps.tf
  src/k8s/rtd_secrets.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
  src/k8s/variables.tf
Labels: status: applied, env: dev

#456 [RTD-295] Fix typo enrolled queue
  src/env/dev/terraform.tfvars
  src/k8s/rtd_secrets.tf
Labels: status: applied, env: dev

#459 [TAE-91] Modify SFTP whitelist
  src/env/uat/terraform.tfvars
Labels: status: applied, env: uat

#451 [RTD-194] Add sender-auth cosmos collection
  src/README.md
  src/database.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/k8s/README.md
  src/k8s/rtd_secrets.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
  src/k8s/variables.tf
  src/rtd_database.tf
  src/variables.tf
Labels: status: applied, env: dev

#461 [RTD-317] add path to sender-auth micro service in rtd ingress
  src/k8s/rtd_ingress.tf
Labels: status: applied, env: dev, env: uat, env: prod

#460 [TAE-89] Connect APIM to file register
  src/api/rtd_senderack_download_file/azureblob_policy.xml
  src/api/rtd_senderack_download_file/openapi.json.tpl
  src/api/rtd_senderack_filename_list/policy.xml
  src/api/rtd_senderack_filename_list/policy.xml.tpl
  src/api_rtd.tf
  src/api_tae.tf
Labels: status: applied, env: dev, env: uat

#463 [RTD-322] Added indexes to mongodb enrolled payment instrument manager
  src/rtd_database.tf
Labels: status: applied, env: dev

#465 [RTD-321] Add sender-auth api with dedicated feature flag
  src/README.md
  src/api/rtd_sender_auth_put/openapi.yml
  src/api/rtd_sender_auth_put/policy.xml
  src/api_rtd.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/variables.tf
Labels: status: applied, env: dev, env: uat

#458 IPE-44 Add API to generate test token for DEV/UAT
  src/domains/idpay-app/04_apim_api_token_exchange.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_token_exchange/jwt_token_test.xml.tpl
Labels: status: applied, env: dev, env: uat

#462 ISB-227-integrazione-servizio-di-anonimizzazione
  src/domains/idpay-app/04_apim_api_io.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_onboarding_workflow/get-onboarding-status-policy.xml.tpl
  src/domains/idpay-app/api/idpay_onboarding_workflow/put-check-prerequisites-policy.xml.tpl
  src/domains/idpay-app/api/idpay_onboarding_workflow/put-consent-policy.xml.tpl
  src/domains/idpay-app/api/idpay_onboarding_workflow/put-terms-conditions-policy.xml.tpl
  src/domains/idpay-app/api/idpay_timeline/get-timeline-detail-policy.xml.tpl
  src/domains/idpay-app/api/idpay_timeline/get-timeline-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/delete-instrument-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/get-iban-detail-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/get-instrument-list-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/get-wallet-detail-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/get-wallet-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/get-wallet-status-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/put-enroll-iban-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/put-enroll-instrument-policy.xml.tpl
  src/domains/idpay-app/api_product/app_io/policy.xml.tpl
  src/domains/idpay-app/api_product/app_io/policy_io.xml.tpl
  src/domains/idpay-app/env/dev/terraform.tfvars
Labels: status: applied, env: dev
