Repository pagopa/cstar-infrastructure, pull requests merged in 2022-02, with the labels that each got.

#321 [CEN-1321] Modify configmaps, secrets and migration to support mock microservice
  src/k8s/fa_configmaps.tf
  src/k8s/fa_secrets.tf
  src/psql/migrations/DEV-CSTAR/fa/U1__fa_drop_schemas_and_tables.sql
  src/psql/migrations/DEV-CSTAR/fa/U2__fa_drop_constraints.sql
  src/psql/migrations/DEV-CSTAR/fa/V1__fa_create_schemas_and_tables.sql
  src/psql/migrations/DEV-CSTAR/fa/V2__fa_create_contraints_and_privileges.sql
Labels: status: applied, env: dev, env: uat, env: prod

#322 [CEN-1322] enable flexible in uat env
  src/env/uat/terraform.tfvars
Labels: status: applied, env: uat

#323 [CEN-1335] migration script for fa in uat env
  src/psql/migrations/UAT-CSTAR/fa/U1__fa_drop_schemas_and_tables.sql
  src/psql/migrations/UAT-CSTAR/fa/U2__fa_drop_constraints.sql
  src/psql/migrations/UAT-CSTAR/fa/U3__fa_drop_payment_instrument_functions.sql
  src/psql/migrations/UAT-CSTAR/fa/V1__fa_create_schemas_and_tables.sql
  src/psql/migrations/UAT-CSTAR/fa/V2.1__fa_privileges_monitoring_pdnd_user.sql
  src/psql/migrations/UAT-CSTAR/fa/V2.2__fa_privileges_monitoring_sia_user.sql
  src/psql/migrations/UAT-CSTAR/fa/V2.3__fa_privileges_monitoring_operations_user.sql
  src/psql/migrations/UAT-CSTAR/fa/V2__fa_create_contraints_and_privileges.sql
  src/psql/migrations/UAT-CSTAR/fa/V3__fa_add_provider_and_transaction_error.sql
  src/psql/migrations/UAT-CSTAR/fa/V3__fa_create_payment_instrument_functions_and_triggers.sql
  src/psql/migrations/UAT-CSTAR/fa/V4__fa_alter_merchant_structure.sql
  src/psql/migrations/UAT-CSTAR/postgres/U6__usr_revoke.sql
  src/psql/migrations/UAT-CSTAR/postgres/V2__usr_db.sql
  src/psql/migrations/UAT-CSTAR/postgres/V3__usr_MONITORING_PDND.sql
  src/psql/migrations/UAT-CSTAR/postgres/V4__usr_MONITORING_SIA.sql
  src/psql/migrations/UAT-CSTAR/postgres/V5__usr_MONITORING_OPERATION.sql
  src/psql/migrations/UAT-CSTAR/postgres/V6__usr_alter_login.sql
Labels: status: applied, env: uat

#325 [CEN-1309] expose API of FA also in UAT env
  src/api.tf
  src/api/fa_io_transaction/openapi.json.tpl
  src/api/fa_register_transaction/openapi.json.tpl
  src/env/dev/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/variables.tf
Labels: status: applied, env: uat

#324 [CEN-1273] Add endpoint to expose PGP public key for trx encryption
  src/api.tf
  src/api/rtd_csv_transaction/get-public-key-policy.xml.tpl
  src/api/rtd_csv_transaction/openapi.json.tpl
  src/security.tf
  src/variables.tf
Labels: status: applied, env: dev, env: uat, env: prod

#328 [CEN-1349] fix api redirect and modify path variable to path parameter for channel value
  src/api/fa_hb_customer/deleteUsingDELETE_policy.xml.tpl
  src/api/fa_io_customer/deleteUsingDELETE_policy.xml.tpl
Labels: status: applied, env: dev, env: uat

#332 [CEN-1356] Rename cstar prefix to rtd
  src/api.tf
  src/api/rtd_csv_transaction/openapi.json.tpl
Labels: status: applied, env: dev

#331 CEN-1350 Blob storage private endpoint
  src/api.tf
  src/api/azureblob/azureblob_policy.xml
  src/dns_private.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/network.tf
  src/storage.tf
  src/variables.tf
Labels: status: applied, env: dev, env: uat, env: prod

#334 [CEN-1365] Modify BPD production DB to implement opt in status
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/psql/flyway.sh
  src/psql/migrations/PROD-CSTAR/bpd/V11__bpd.alter_citizen_add_opt_in_status.sql
Labels: status: applied, env: prod

#317 [CEN-1314] add optInStatus in citizen API
  src/api/bpd_io_citizen/v2/openapi.json.tpl
Labels: status: apply in progress, env: dev, env: uat, env: prod

#337 [CEN-1367] add authCode in pos POST call and create GET structure
  src/api.tf
  src/api/fa_register_transaction/getPosTransactionCustomerUsingGET_policy.xml.tpl
  src/api/fa_register_transaction/getPosTransactionUsingGET_policy.xml.tpl
  src/api/fa_register_transaction/openapi.json.tpl
Labels: status: applied, env: dev, env: uat

#335 [CEN-1369] add invoice_request_id in transaction schema and create sequence
  src/psql/flyway.sh
  src/psql/migrations/DEV-CSTAR/fa/U1__fa_drop_schemas_and_tables.sql
  src/psql/migrations/DEV-CSTAR/fa/U2__fa_drop_constraints.sql
  src/psql/migrations/DEV-CSTAR/fa/U3__fa_drop_payment_instrument_functions.sql
  src/psql/migrations/DEV-CSTAR/fa/U4__fa_payment_instrument_vat_number_not_null.sql
  src/psql/migrations/DEV-CSTAR/fa/V5__fa_transaction_request_add_invoice_request_id.sql
  src/psql/migrations/UAT-CSTAR/fa/U1__fa_drop_schemas_and_tables.sql
  src/psql/migrations/UAT-CSTAR/fa/U2__fa_drop_constraints.sql
  src/psql/migrations/UAT-CSTAR/fa/U3__fa_drop_payment_instrument_functions.sql
  src/psql/migrations/UAT-CSTAR/fa/U4__fa_payment_instrument_vat_number_not_null.sql
  src/psql/migrations/UAT-CSTAR/fa/V5__fa_transaction_request_add_invoice_request_id.sql
Labels: status: applied, env: dev, env: uat

#338 [CEN-1370] create config for customer data
  src/k8s/fa_configmaps.tf
Labels: status: applied, env: dev, env: uat

#340 [CEN-1405] Uniform internal APIM endpoint across subscriptions
  src/dns_private.tf
  src/env/dev/terraform.tfvars
Labels: status: applied, env: dev, env: uat, env: prod

#341 [CEN-1404] Add private custom domain
  src/api.tf
  src/security.tf
Labels: status: applied, env: dev, env: uat, env: prod

#339 [CEN-1377] Add API CSV Transaction Decrypted and product RTD internal
  src/api.tf
  src/api/rtd_csv_transaction_decrypted/create-sas-token-policy.xml.tpl
  src/api/rtd_csv_transaction_decrypted/openapi.json.tpl
  src/api_product/rtd_api_internal/policy.xml.tpl
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/storage.tf
  src/variables.tf
Labels: status: applied, env: dev, env: uat, env: prod

#333 [CEN-1361] Add event grid subscription and link it to event hub
  src/env/dev/terraform.tfvars
  src/events.tf
  src/variables.tf
Labels: status: applied, env: dev, env: uat, env: prod

#343 [CEN-1406] Use only storage private endpoint in RTD CSV Transaction APIs
  src/api.tf
  src/api/rtd_csv_transaction/create-sas-token-policy.xml.tpl
Labels: status: applied, env: dev, env: uat, env: prod

#345 [CEN-1408] Enable diagnostics on API RTD CSV Transaction
  src/api.tf
  src/env/dev/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/variables.tf
Labels: status: applied, env: dev, env: uat, env: prod
