Repository pagopa/cstar-infrastructure, pull requests merged in 2022-05, with the labels that each got.

#371 Cdc 58 trancode io token to jwt
  src/api/cdc/policy.jwt.xml.tpl
  src/api_cdc.tf
  src/api_product/cdc_api/policy.xml
  src/api_product/cdc_api/policy.xml.tpl
  src/env/dev/terraform.tfvars
Labels: status: applied, env: uat

#372 [CDC-65] Remove year in POST response when it returns 400
  src/api/cdc/openapi.io.yml.tpl
Labels: status: applied, env: uat

#366 [CEN-1592] Add line splitting threshold in decrypter config map
  src/env/dev/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/k8s/.terraform.lock.hcl
  src/k8s/bpd_ingress.tf
  src/k8s/fa_ingress.tf
  src/k8s/ingress.tf
  src/k8s/main.tf
  src/k8s/rtd_configmaps.tf
  src/k8s/rtd_ingress.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
  src/k8s/variables.tf
Labels: status: applied, env: dev, env: uat

#313 [CEN-1282] Add cosmos db (mongo) with a transaction database
  src/database.tf
  src/dns_private.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/network.tf
  src/variables.tf
Labels: status: applied, status: apply in progress, env: dev

#373 [RTD-112] Create secret containing mongo DB connection string
  src/k8s/rtd_secrets.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
  src/k8s/variables.tf
Labels: status: applied, env: dev

#375 [RTD-113] Add ingress mapping for RTD file register micro-service
  src/k8s/rtd_ingress.tf
Labels: status: applied, env: dev, env: uat, env: prod
