Repository pagopa/cstar-infrastructure, pull requests merged in 2022-01, with the labels that each got.

#303 [CEN-1236] Align policy of api award_period to changes made via azure portal
  src/api.tf
  src/api/bpd_io_award_period/original/findAllUsingGET_close_cashback_policy.xml.tmpl
  src/api/bpd_io_award_period/v2/findAllUsingGET_close_cashback_policy.xml.tmpl
Labels: status: apply in progress, env: dev, env: uat, env: prod

#305 CEN-1238 Remove aks terraform storage
  src/storage.tf
Labels: status: apply in progress, env: dev, env: uat, env: prod

#306 CEN-1178 App gateway improvements
  src/api.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/network.tf
  src/variables.tf
Labels: status: applied, env: dev, env: uat, env: prod

#307 Cen 1118 esposizione dell'api di onboarding
  src/api/fa_ext_merchant/onboardingMerchantByOtherUsingPut_policy.xml.tpl
  src/api/fa_ext_merchant/onboardingMerchantByProviderUsingPut_policy.xml.tpl
  src/api/fa_ext_provider/swagger.json.tpl
Labels: status: apply in progress, env: dev

#308 [CEN-1275] Increase default node pool node size to Standard_B4ms
  src/env/dev/terraform.tfvars
Labels: status: applied, env: dev

#279 Align DB's structure on upper env
  src/psql/migrations/UAT-CSTAR/fa/V6__fa_realign.sql
  src/psql/scripts/setup.sh
  src/psql/subscriptions/DEV-CSTAR/terraform.tfvars
  src/psql/subscriptions/PROD-CSTAR/terraform.tfvars
  src/psql/subscriptions/UAT-CSTAR/terraform.tfvars
Labels: status: applied, env: uat

#294 CEN-1107 new merchant structure
  src/psql/migrations/UAT-CSTAR/fa/V7__fa_ALTER_merchant_structure.sql
Labels: status: applied, env: uat

#310 [CEN-1270] REST interface for CSV files upload
  src/api.tf
  src/api/rtd_csv_transaction/create-sas-token-policy.xml.tpl
  src/api/rtd_csv_transaction/openapi.json.tpl
Labels: status: applied, env: dev, env: uat, env: prod

#312 [CEN-1303] Add postgres flexible server to support FA application
  src/.terraform.lock.hcl
  src/database.tf
  src/dns_private.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/main.tf
  src/network.tf
  src/outputs.tf
  src/variables.tf
Labels: status: applied, env: dev, env: uat, env: prod

#316 fix env var
  src/k8s/fa_configmaps.tf
Labels: status: applied, env: dev, env: uat, env: prod

#319 [CEN-1252] Modify Postgres connection string to flexible server
  src/k8s/fa_secrets.tf
  src/k8s/locals.tf
Labels: status: applied, env: dev, env: uat, env: prod

#320 [CEN-1252] Fix connection string
  src/k8s/fa_secrets.tf
  src/psql/migrations/DEV-CSTAR/fa/U3__fa_drop_payment_instrument_functions.sql
  src/psql/migrations/DEV-CSTAR/postgres/V2__usr_db.sql
Labels: status: applied, env: dev, env: uat, env: prod
