Repository pagopa/cstar-infrastructure, pull requests merged in 2022-03, with the labels that each got.

#348 Cen 1414 refactoring examples api fa
  src/api/fa_ext_merchant/swagger.json.tpl
  src/api/fa_io_merchant/swagger.json.tpl
  src/api/fa_io_transaction/openapi.json.tpl
  src/api/fa_mock/swagger.json.tpl
  src/api/fa_register_transaction/openapi.json.tpl
Labels: status: apply in progress, env: dev, env: uat

#346 Cen 1382 invoice request outcome db
  src/psql/migrations/DEV-CSTAR/fa/V6__fa_transaction_add_invoice_columns_for_outcome.sql
  src/psql/migrations/UAT-CSTAR/fa/V6__fa_transaction_add_invoice_columns_for_outcome.sql
Labels: status: applied, env: dev, env: uat

#349 [CEN-1389] Remove Issuer Api
  src/api.tf
Labels: status: applied, env: dev, env: uat, env: prod

#344 [CEN-1362] Add rtd-ms-decrypter envs to communicate with blob via api
  src/api.tf
  src/api/azureblob/internal.openapi.json.tpl
  src/api_rtd.tf
  src/env/dev/terraform.tfvars
  src/env/prod/terraform.tfvars
  src/env/uat/terraform.tfvars
  src/k8s/locals.tf
  src/k8s/rtd_configmaps.tf
  src/k8s/rtd_secrets.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/main.tf
  src/security.tf
  src/variables.tf
Labels: status: applied, env: dev

#357 [CEN-1457] Enable new RTD APIs and EventGrid integration on PROD
  src/env/prod/terraform.tfvars
  src/k8s/rtd_configmaps.tf
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/security.tf
Labels: status: ready to apply, env: dev, env: uat, env: prod

#358 [CEN-1431] Fix get-hashed-pans policy
  src/api_rtd.tf
Labels: status: applied, env: prod
