Repository pagopa/cstar-infrastructure, pull requests merged in 2022-04, with the labels that each got.

#362 [CEN-1538] Add PM response body when Card enrolling fails
  src/api/fa_hb_payment_instruments/enrollmentUsingPUT_Card_policy.xml.tpl
Labels: status: applied, env: dev, env: uat

#363 [CEN-1558] add rule to address cstariobackendtest in FA context
  src/k8s/bpd_ingress.tf
  src/k8s/fa_ingress.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
Labels: status: applied, env: dev, env: uat, env: prod

#361 [CEN-1469] Upgrade application_insights_web_test_preview to recommend…
  .terraform-version
  src/api.tf
  src/monitor.tf
Labels: status: applied, env: dev, env: uat, env: prod

#364 Cen 1445 create rtd secret to produce on rtd trx ehub
  src/k8s/rtd_configmaps.tf
  src/k8s/rtd_secrets.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
  src/k8s/variables.tf
Labels: status: applied, env: dev, env: uat

#369 [CDC-25] Expose health-check sogei
  src/api/cdc/openapi.sogei.yml.tpl
  src/api_cdc.tf
  src/api_product/cdc_api/policy.xml
Labels: status: applied, env: dev, env: uat

#370 [RTD-23] Add tkm update queue
  src/env/dev/terraform.tfvars
Labels: status: applied, env: dev
