Repository pagopa/cstar-infrastructure, pull requests merged in 2023-11, with the labels that each got.

#1163 fix: [IDP-2106] add channel for transaction list
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml
  src/domains/idpay-app/api/idpay_merchants_portal/openapi.merchants.portal.yml
Labels: applied in all envs, idpay-app

#1171 feat: [IDP-2027] added policy token test for merchants portal
  src/domains/idpay-app/04_apim_api_token_exchange_merchants.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_token_exchange/jwt_merchants_token_test.xml.tpl
Labels: applied in all envs, idpay-app

#1172 fix: IDP-2125-aggiornamento-swagger
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_merchants_portal/openapi.merchants.portal.yml
  src/domains/idpay-app/api/idpay_mil/idpay_mil_payment/openapi.mil.payment.yml
  src/domains/idpay-app/api/idpay_min_int/openapi.min.int.yml
  src/domains/idpay-app/api/idpay_payment_io/openapi.payment_io.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/io/openapi.qrcode_payment_io.yml.tpl
Labels: applied in all envs, ready to apply, idpay-app

#1175 fix: IDP-1342-5-sp-uniformare-formato-dei-valori-restituiti-dagli-endpoint-di-get-delle-statistiche
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
Labels: ready to apply, applied dev, applied uat, applied prod, idpay-app

#1179 fix: added index to onboardingInitiatives
  src/domains/idpay-common/03_database.tf
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-common

#1180 fix: [IDP-1558] new variable for MIL policy for retrieving merchantId
  src/domains/idpay-app/api/idpay_mil/idpay_mil_merchant/put-merchant-upload-policy.xml.tpl
  src/domains/idpay-app/api_product/mil_api/policy_mil.xml
Labels: applied in all envs, ready to apply, released, idpay-app, all envs

#1183 fix: [RTD-2156] Align TAE Cosmos geo redundancy deletion
  src/domains/rtd-common/99_variables.tf
  src/domains/rtd-common/README.md
  src/domains/tae-common/99_variables.tf
  src/domains/tae-common/README.md
  src/domains/tae-common/env/prod/terraform.tfvars
Labels: applied in all envs, rtd-common, tae-common, all envs

#1184 feat: IDP-2162 configuring SMTPS on PROD
  src/domains/idpay-app/08_k8s_configmaps.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/env/prod/terraform.tfvars
Labels: applied in all envs, uat, prod, idpay-app

#1182 fix: [RTD-2156] Decrease max RU TAE Cosmos
  src/domains/tae-common/03_database.tf
  src/domains/tae-common/env/prod/terraform.tfvars
Labels: prod, applied prod, tae-common

#1170 fix: Added RBAC rule for pdb
  src/aks-platform/04_rbac.tf
Labels: apply in progress, applied dev, applied uat

#1189 fix: [IDP-1558] fix header not mandatory in getPublicKey policy for MIL
  src/domains/idpay-app/api/idpay_mil/idpay_mil_payment/get-public-key-policy.xml.tpl
Labels: applied in all envs, idpay-app, all envs

#1188 feat: [2002] DTO per evento di disiscrizione
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
Labels: ready to apply, applied dev, applied uat, applied prod, idpay-app

#1186 fix: IDP-1790-5-sp-dettaglio-refund-risponde-401
  src/domains/idpay-app/api/idpay_assistance/get-refund-detail.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/get-refund-detail.xml.tpl
Labels: ready to apply, uat, prod, applied dev, applied uat, applied prod, idpay-app

#1190 feat: Idp 2171 update swagger mandatory fields
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml
  src/domains/idpay-app/api/idpay_merchants_portal/openapi.merchants.portal.yml
  src/domains/idpay-app/api/idpay_mil/idpay_mil_payment/openapi.mil.payment.yml
  src/domains/idpay-app/api/idpay_payment_io/openapi.payment_io.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/acquirer/openapi.qrcode_payment_acquirer.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/acquirer/openapi.qrcode_payment_test_merchant.yml.tpl
Labels: applied in all envs, idpay-app, all envs

#1195 chore: [RTD-2146] Remove unused values in decrypter configmap
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
Labels: applied in all envs, rtd-app, all envs
