Repository pagopa/cstar-infrastructure, pull requests merged in 2023-04, with the labels that each got.

#883 feat: IDP-657-censimento-apim
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_initiative/put-initiative-readmission.xml.tpl
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
Labels: applied in all envs, apply in progress, idpay-app, all envs

#896 fix: [RTD-1638] Change deprecation alert frequency and window to 1 day
  src/domains/tae-app/00_monitor.tf
Labels: prod, applied prod, tae-app

#897 feat: IDP-721 mock merchant SPA
  src/domains/idpay-common/04_cdn.tf
  src/domains/idpay-common/99_variables.tf
  src/domains/idpay-common/README.md
Labels: apply in progress, applied dev, applied uat, applied prod, idpay-common

#887 feat: IDP-626 qrCodePaymentAPI Acquirer and IO
  src/domains/idpay-app/04_apim_api_acquirer.tf
  src/domains/idpay-app/04_apim_api_io.tf
  src/domains/idpay-app/04_apim_api_mock_merchant.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_payment/openapi.payment.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/acquirer/mock_merchant_base_policy.xml
  src/domains/idpay-app/api/idpay_qrcode_payment/acquirer/openapi.qrcode_payment_acquirer.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/acquirer/openapi.qrcode_payment_test_merchant.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/io/openapi.qrcode_payment_io.yml.tpl
  src/domains/idpay-app/api_product/acquirer/policy_acquirer.xml
  src/domains/idpay-app/api_product/acquirer/policy_mock_merchant.xml
  src/domains/idpay-app/api_product/app_io/policy_io.xml.tpl
  src/domains/idpay-app/env/dev/terraform.tfvars
  src/domains/idpay-app/env/uat/terraform.tfvars
Labels: apply in progress, applied dev, applied uat, applied prod, idpay-app

#889 feat: IDP-616 Updated k8s configmap to set idpay-reward-calculator service url
  src/domains/idpay-app/08_k8s_configmaps.tf
Labels: applied in all envs, idpay-app, all envs

#899 fix: [RTD-1640] remove ack implicit from ade ack download API
  src/core/api/rtd_senderack_download_file/azureblob_policy.xml
Labels: applied uat, applied prod, core
