Repository pagopa/cstar-infrastructure, pull requests merged in 2023-02, with the labels that each got.

#792 chore: Eventhub partitions up to 8 to PROD
  src/domains/idpay-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
Labels: applied in all envs, dev, uat, prod, applied dev, applied uat, applied prod, rtd-app, k8s

#801 chore: align fake salt to dev and uat env, also remove mock from v3
  src/core/api_rtd.tf
Labels: applied in all envs, core

#802 chore: [RTD-1302] ignore changes on aggregates db max throughput
  src/domains/tae-common/03_database.tf
Labels: applied in all envs, tae-common

#779 feat: [RTD-1264] Add ingestor config map
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied in all envs, rtd-app, all envs

#770 chore: [RTD-1242] added event hub for ingestor dead letter queue in all the environments
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied in all envs, dev, uat, prod, rtd-app

#778 feat: [RTD-1263] Set logging level to INFO
  src/domains/rtd-app/env/dev/terraform.tfvars
Labels: dev, applied dev, rtd-app

#781 fix: [RTD-725] Remove sender auth apim remapping during sender AdE ACK download
  src/core/api/rtd_senderack_download_file/azureblob_policy.xml
Labels: applied in all envs, core, all envs

#806 chore: [RTD-1290] explicitly set fqdns on data factory private endpoints
  src/domains/tae-common/04_datafactory.tf
Labels: applied in all envs, tae-common

#800 feat: Removed app gateway single zone
  src/core/99_outputs.tf
  src/core/README.md
  src/core/network.tf
  src/core/observability.tf
Labels: applied in all envs

#795 chore: enable tkm acquire api to uat using new api key
  src/core/env/uat/terraform.tfvars
Labels: uat, applied uat, core

#803 feat: [IDP-212] open Api FE integration for Get and Save consent ToS
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/api/idpay_role_permission/consent-policy.xml.tpl
  src/domains/idpay-app/api/idpay_role_permission/openapi.role-permission.yml
Labels: applied dev, applied uat, applied prod, idpay-app

#797 feat: IDP-226 mock integrazione io
  src/domains/idpay-app/04_apim_api_mock.tf
  src/domains/idpay-app/08_k8s_configmaps.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_mock_api/mock_create_service.xml.tpl
  src/domains/idpay-app/api/idpay_mock_api/mock_notificator_messages.xml.tpl
  src/domains/idpay-app/api/idpay_mock_api/mock_notificator_profiles.xml.tpl
  src/domains/idpay-app/api/idpay_mock_api/mock_tos_version.xml.tpl
  src/domains/idpay-app/api/idpay_mock_api/mock_upload_service_logo.xml.tpl
  src/domains/idpay-app/env/dev/terraform.tfvars
  src/domains/idpay-app/env/prod/terraform.tfvars
  src/domains/idpay-app/env/uat/terraform.tfvars
Labels: applied dev, applied uat, applied prod, idpay-app

#805 chore: [RTD-1303] Change cosmosdb rtd from serverless to provisione throughput DEV
  src/core/env/dev/terraform.tfvars
Labels: applied dev, rtd-common, core

#780 chore: [RTD-608] Explicitly add integration container
  src/core/README.md
  src/core/tae_storage.tf
Labels: dev, uat, applied dev, applied uat, core

#810 feat: [RTD-1330] Add EURON fiscal code mapping
  src/core/api/rtd_abi_to_fiscalcode/policy.xml.tpl
  src/core/api_rtd.tf
Labels: applied in all envs, core, all envs

#811 fix: [RTD-598] Set decrypter consumer timeout to 10 minutes
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/k8s/rtd_configmaps.tf
Labels: applied in all envs, rtd-app, core, all envs

#812 feat: [RTD-1331] add UBER1 to fiscal code mapping
  src/core/api/rtd_abi_to_fiscalcode/policy.xml.tpl
Labels: applied in all envs, core, all envs

#813 feat: IDP-344 update BE di IO
  src/domains/idpay-app/env/uat/terraform.tfvars
Labels: idpay-app

#758 chore: [RTD-914] Remove unused queues
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/domains/idpay-app/01_keyvault.tf
  src/domains/idpay-app/08_k8s_configmaps.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/env/dev/terraform.tfvars
  src/domains/idpay-app/env/prod/terraform.tfvars
  src/domains/idpay-app/env/uat/terraform.tfvars
  src/k8s/README.md
  src/k8s/rtd_configmaps.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
  src/k8s/variables.tf
Labels: core, idpay-app, idpay-common, all envs

#809 chore: [RTD-1305] upgrade rtd-platform-events queue partitions and add server side retry cosmos db
  src/core/env/dev/terraform.tfvars
Labels: dev, applied dev, rtd-common, core

#645 chore: [CSFA-82] add behavior on FA HPA configuration in UAT
  src/k8s/README.md
  src/k8s/fa_deployments_hpa.tf
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
  src/k8s/variables.tf
Labels: dev, uat, prod, applied dev, applied uat, applied prod

#817 chore: [RTD-965] Remove storage account psqlinfra
  src/core/README.md
  src/core/storage.tf
Labels: applied in all envs, dev, uat, prod, core

#820 feat: Idp-234 creare storage account immutabile
  src/domains/idpay-app/09_audit_log_storage.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/dcr/idpay-audit-dcr.json.tpl
  src/domains/idpay-app/env/dev/terraform.tfvars
  src/domains/idpay-app/env/prod/terraform.tfvars
  src/domains/idpay-app/env/uat/terraform.tfvars
Labels: applied dev, idpay-app

#819 chore: [RTD-1353] create payment instrument queues
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
Labels: dev, applied dev, rtd-app

#815 feat: IDP-263 add beneficiary api details
  src/domains/idpay-app/.terraform.lock.hcl
  src/domains/idpay-app/04_apim_api_mock.tf
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/08_k8s_configmaps.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_initiative/get-beneficiary-iban.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/get-beneficiary-instruments.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/get-beneficiary-timeline-detail.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/get-beneficiary-timeline.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/get-beneficiary-wallet.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/idpay_portal_token/jwt_idpay_portal_token.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_mock_api/mock_update_service.xml.tpl
  src/domains/idpay-app/api/idpay_token_exchange/jwt_token_test.xml.tpl
  src/domains/idpay-app/env/dev/terraform.tfvars
  src/domains/idpay-app/env/prod/terraform.tfvars
  src/domains/idpay-app/env/uat/terraform.tfvars
Labels: applied dev, idpay-app

#822 feat: [RTD-1372] add basic exporter configmap
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-app

#827 fix: IDPAY_IO_APP Product Policy
  src/domains/idpay-app/api_product/app_io/policy_io.xml.tpl
Labels: applied in all envs

#825 feat: IDP-424 Added brand field to timeline and wallet
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_issuer_wallet/put-enroll-instrument-policy.xml.tpl
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
Labels: applied in all envs, idpay-app, all envs

#816 feat: [RTD-492] Limit PUT PGP files on APIM
  src/core/README.md
  src/core/api/azureblob/azureblob_authorizative_policy.xml
  src/core/api_rtd.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/variables.tf
Labels: applied in all envs, core, all envs

#826 fix: [RTD-1384] Fix deposit on ade/error alert
  src/domains/tae-app/00_monitor.tf
Labels: prod, applied prod, tae-app

#836 fix: [RTD-1402] Update OpenAPI with error status for rejected PUT
  src/core/api/azureblob/openapi.json.tpl
  src/core/api_rtd.tf
Labels: applied in all envs, core, all envs

#830 chore: [RTD-1367] Add custom role and custom role assignment to ops
  src/domains/tae-common/00_azuread.tf
  src/domains/tae-common/04_datafactory.tf
  src/domains/tae-common/README.md
Labels: dev, uat, prod, applied dev, applied uat, applied prod, tae-common

#835 feat: [RTD-1389] add config map for alternative gateway micro service
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied in all envs, rtd-app

#837 feat: IDP-446 add index for portal search
  src/domains/idpay-common/03_database.tf
Labels: applied dev, applied uat, applied prod, idpay-common

#833 feat: [RTD-1396] Add alert on content length zero
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#834 feat: [RTD-1395] Add alert on content length greater than allowed on pgp PUT
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#841 chore: [CDC-80] Add CDC certificate generation
  src/core/README.md
  src/core/api_cdc.tf
Labels: uat, prod, applied uat, applied prod, core
