Repository pagopa/cstar-infrastructure, pull requests merged in 2023-05, with the labels that each got.

#884 feat: IDP-628 IDP-619 mongo collection updates
  src/domains/idpay-common/03_database.tf
Labels: applied in all envs, idpay-common

#902 feat: fix rewardValueDTO
  src/core/README.md
  src/core/variables.tf
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
Labels: applied in all envs, idpay-app

#905 fix: [RTD-1651] Remove unauthorized upload from catch-all alert
  src/domains/tae-app/00_monitor.tf
Labels: prod, applied prod, tae-app

#885 chore: [RTD-1537] switch terraform-azurerm-v3 core
  src/aks-platform/00_network.tf
  src/aks-platform/03_aks_0.tf
  src/aks-platform/03_aks_dns_private_link.tf
  src/aks-platform/05_keda.tf
  src/aks-platform/99_locals.tf
  src/aks-platform/99_variables.tf
  src/aks-platform/README.md
  src/aks-platform/env/dev01/terraform.tfvars
  src/aks-platform/env/prod01/terraform.tfvars
  src/aks-platform/env/uat01/terraform.tfvars
  src/core/.terraform.lock.hcl
  src/core/10_alerts.tf
  src/core/99_main.tf
  src/core/99_outputs.tf
  src/core/README.md
  src/core/aks.tf
  src/core/api.tf
  src/core/api_cdc.tf
  src/core/api_fa.tf
  src/core/api_pm.tf
  src/core/api_rtd.tf
  src/core/api_tae.tf
  src/core/azure_devops_agent.tf
  src/core/database.tf
  src/core/dns_private.tf
  src/core/docker_container_registry.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/events.tf
  src/core/key_vault_0.tf
  src/core/local.tf
  src/core/messages.tf
  src/core/network.tf
  src/core/network_aks_domains.tf
  src/core/network_pair.tf
  src/core/observability.tf
  src/core/rtd_database.tf
  src/core/sftp.tf
  src/core/storage.tf
  src/core/variables.tf
  src/core/vpn.tf
Labels: applied in all envs, dev, uat, prod, core

#909 chore: imported named value pagopa api key to RTD
  src/core/README.md
  src/core/api_fa.tf
  src/core/api_pm.tf
  src/core/api_rtd.tf
  src/domains/rtd-app/04_api_pm.tf
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-app, core

#910 chore: [RTD-1626] rtd api product migration
  src/core/README.md
  src/core/api_rtd.tf
  src/core/api_tae.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/variables.tf
  src/domains/rtd-app/.terraform.lock.hcl
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/api_product/rtd_api/policy.xml
  src/domains/rtd-app/api_product/rtd_api_internal/policy.xml.tpl
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied dev, applied uat, applied prod, rtd-app, core

#907 feat: Idp 827 sviluppo be censimento api onboarding su apim
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_initiative/get-beneficiary-onboarding-family-status.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml.tpl
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
Labels: apply in progress, applied uat, idpay-app

#908 feat: IDP-665-8-sp-la-lunghezza-del-codice-fiscale-del-beneficiario-non-ha-un-limite
  src/domains/idpay-app/api_product/app_io/policy_io.xml.tpl
  src/domains/idpay-app/api_product/app_issuer/policy_issuer.xml.tpl
Labels: apply in progress, all envs

#892 chore: [RTD-1623] add api delete payment instrument
  src/domains/rtd-app/.terraform.lock.hcl
  src/domains/rtd-app/02_namespace_domain.tf
  src/domains/rtd-app/04_apim_api_pi.tf
  src/domains/rtd-app/80_tls_checker.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/api/base_policy.xml
  src/domains/rtd-app/api/payment_instruments/openapi.payment_instruments.yml
  src/domains/rtd-app/api_product/payment_instruments/policy.xml
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: dev, applied dev, rtd-app

#914 chore: [RTD-1628] API payment manager v2 to RTD domain
  src/core/README.md
  src/core/api_rtd.tf
  src/core/storage.tf
  src/domains/rtd-app/.terraform.lock.hcl
  src/domains/rtd-app/00_key_vault.tf
  src/domains/rtd-app/03_storage.tf
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/06_linked_service.tf
  src/domains/rtd-app/99_locals.tf
  src/domains/rtd-app/99_main.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/api/rtd_payment_instrument_manager/get-hash-salt_policy.xml.tpl
  src/domains/rtd-app/api/rtd_payment_instrument_manager/get-hashed-pans-policy-rev2.xml.tpl
  src/domains/rtd-app/api/rtd_payment_instrument_manager/get-hashed-pans-policy-rev3.xml.tpl
  src/domains/rtd-app/api/rtd_payment_instrument_manager/get-hashed-pans-policy.xml.tpl
  src/domains/rtd-app/api/rtd_payment_instrument_manager/swagger.xml.tpl
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-app, core

#915 chore: [RTD-1627] migrate payment manager v1
  src/core/README.md
  src/core/api_rtd.tf
  src/domains/rtd-app/.terraform.lock.hcl
  src/domains/rtd-app/00_network.tf
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied dev, applied uat, applied prod, rtd-app, core

#886 fix: Allow eventhub connection from Vpn by private endpoint
  src/core/README.md
  src/core/messages.tf
Labels: dev, uat, applied dev, applied uat, core

#920 fix: [RTD-1620] batch service last supported version to 1.3.2
  src/core/env/dev/terraform.tfvars
Labels: applied in all envs, core

#921 chore: [RTD-1599] Bump to azurerm v3
  src/domains/rtd-common/.terraform.lock.hcl
  src/domains/rtd-common/01_keyvault_0.tf
  src/domains/rtd-common/04_datafactory.tf
  src/domains/rtd-common/99_main.tf
  src/domains/rtd-common/README.md
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-common

#918 chore: [RTD-1629] move payment instrument manager v3 from core to rtd-app
  src/core/README.md
  src/core/api_product/rtd_api/policy.xml
  src/core/api_product/rtd_api_internal/policy.xml.tpl
  src/core/api_rtd.tf
  src/core/storage.tf
  src/domains/rtd-app/03_storage.tf
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/README.md
Labels: applied in all envs, dev, uat, prod, applied dev, applied uat, applied prod, rtd-app, core

#919 feat: IDP-909 added index eventId on timeline collection
  src/domains/idpay-common/03_database.tf
Labels: applied in all envs

#927 feat: IDP-982 added admissibility assessor to rest-client config map
  src/domains/idpay-app/08_k8s_configmaps.tf
Labels: applied in all envs

#926 chore: [RTD-1683] move cosmos collections to rtd-common
  src/core/README.md
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/rtd_database.tf
  src/core/variables.tf
  src/domains/rtd-common/03_database.tf
  src/domains/rtd-common/99_variables.tf
  src/domains/rtd-common/README.md
  src/domains/rtd-common/env/dev/terraform.tfvars
  src/domains/rtd-common/env/prod/terraform.tfvars
  src/domains/rtd-common/env/uat/terraform.tfvars
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-common, core

#924 feat: Idp 967 aggiornamento swagger per io wallet
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
Labels: applied in all envs

#928 feat: Add north europe as read region for all cosmos db + enabled continuos backup
  src/domains/idpay-common/03_database.tf
  src/domains/idpay-common/README.md
  src/domains/idpay-common/env/prod/terraform.tfvars
  src/domains/rtd-common/03_database.tf
  src/domains/tae-common/03_database.tf
  src/domains/tae-common/README.md
  src/domains/tae-common/env/prod/terraform.tfvars
Labels: prod, idpay-common

#930 chore: [RTD-1676] switch rtd-app modules to official resource
  src/domains/rtd-app/.terraform.lock.hcl
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/04_apim_api_pi.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-common/.terraform.lock.hcl
Labels: applied in all envs, dev, uat, prod, rtd-app

#932 feat: IDP-960 configuring new PortaleEsercenti SPA
  src/domains/idpay-common/99_variables.tf
  src/domains/idpay-common/README.md
Labels: applied in all envs

#935 fix: fix response unsubscribe api
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
Labels: applied dev, applied uat, applied prod, idpay-app, all envs

#933 chore: [RTD-1668] Update eventhub module core to support trustes microservices
  src/core/README.md
  src/core/messages.tf
Labels: dev, applied dev, core

#931 fix: IDP-967 remove maxTrx field
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
Labels: applied in all envs

#937 feat: Managed identity for eventgrid topics idpay
  src/domains/idpay-app/09_refund_storage.tf
  src/domains/idpay-app/README.md
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-app

#943 chore: [RTD-1713] Idpay eventhub grants access to selected networks
  src/domains/idpay-common/04_eventhub.tf
  src/domains/idpay-common/README.md
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-common

#939 feat: Idp 980 censimento collection merchant
  src/domains/idpay-common/03_database.tf
Labels: applied dev, applied uat, applied prod, idpay-common

#942 feat: IDP-964 IDP-963 portale esercenti token exchange
  src/domains/idpay-app/04_apim_api_portal_merchants.tf
  src/domains/idpay-app/04_apim_api_token_exchange_merchants.tf
  src/domains/idpay-app/06_apim_fragments.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_token_exchange/jwt_exchange_merchants.xml.tpl
  src/domains/idpay-app/api_fragment/merchant-id-retriever.xml
  src/domains/idpay-app/api_product/acquirer/policy_acquirer.xml
  src/domains/idpay-app/api_product/portal_merchants_api/policy_merchants_portal.xml.tpl
Labels: applied in all envs

#940 feat: Idp 941 censimento policy su apim e archiviazione storage
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_merchant/get-merchant-detail-policy.xml.tpl
  src/domains/idpay-app/api/idpay_merchant/get-merchant-list-policy.xml.tpl
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml.tpl
  src/domains/idpay-app/api/idpay_merchant/put-merchant-upload.xml.tpl
Labels: applied in all envs, idpay-app

#944 fix: IDP-964 fixed idpay merchant path
  src/domains/idpay-app/04_apim_api_portal_merchants.tf
  src/domains/idpay-app/04_apim_api_token_exchange_merchants.tf
Labels: applied in all envs, idpay-app

#936 feat: [IDP-881] Assistance API policy
  src/domains/idpay-app/04_apim_api_assistance.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_assistance/get-beneficiary-iban.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-beneficiary-instruments.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-beneficiary-onboarding-status.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-beneficiary-timeline-detail.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-beneficiary-timeline.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-beneficiary-wallet.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-disp-errors.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-initiative-detail.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-initiative-reward-notifications-exp.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-initiative-reward-notifications-imp.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-initiative-statistics.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-initiative-summary.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-onboarding-status.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-organization-list.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-ranking-download.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-ranking.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-refund-detail.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-refund-export-summary.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-refund-list.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-reward-download.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api_product/assistance/policy_assistance.xml
Labels: applied dev, idpay-app

#947 fix: Disable FA postgres in dev and uat. Clean code
  src/core/database.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
Labels: applied in all envs

#948 feat: Add CAA record
  src/core/README.md
  src/core/dns_public.tf
Labels: applied in all envs, core

#953 chore: [RTD-1721] Move sender_api_check api to RTD domain
  src/core/README.md
  src/core/api_rtd.tf
  src/domains/rtd-app/.terraform.lock.hcl
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/api/rtd_sender_api_key_check/openapi.yml
  src/domains/rtd-app/api/rtd_sender_api_key_check/policy.xml
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-app, core

#951 feat: [IDP-1044] added pre-auth and auth payment api for IO
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_qrcode_payment/io/openapi.qrcode_payment_io.yml.tpl
Labels: apply in progress, dev, uat, idpay-app
