Repository pagopa/cstar-infrastructure, pull requests merged in 2023-01, with the labels that each got.

#752 feat: New public dns zone welfare
  src/core/.terraform.lock.hcl
  src/core/99_outputs.tf
  src/core/README.md
  src/core/dns_public.tf
Labels: applied prod

#715 feat: [RTD-1119] Add alert on file already present in file register
  src/core/README.md
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#718 feat: [RTD-1139] Add alert on get sender AdE ack list failures
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#751 fix: [RTD-1182] Exclude 409 from failed upload alert
  src/domains/tae-app/00_monitor.tf
Labels: prod, applied prod, tae-app

#739 chore: [RTD-1159] added index in rtd_database
  src/core/rtd_database.tf
  src/k8s/.terraform.lock.hcl
Labels: dev, uat, prod, applied dev, applied uat, applied prod

#735 feat: [RTD-1118] Add alert on conflicting file submission
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#723 fix: [RTD-1145] set Application Insights INFO logging level for RTD microservices
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
Labels: applied in all envs, dev, uat, prod, core

#711 fix: Set cache to 30 min on bpd/citizen original and v2
  src/core/api/bpd_io_citizen/original/findUsingGET_policy.xml
  src/core/api/bpd_io_citizen/v2/findUsingGET_policy.xml
Labels: applied prod

#750 chore: [RTD-1086] Add decrypter config map to new aks
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-app

#754 feat: Welfare cdn
  src/core/terraform.sh
  src/domains/idpay-common/02-public_dns.tf
  src/domains/idpay-common/04_cdn.tf
  src/domains/idpay-common/99_variables.tf
  src/domains/idpay-common/README.md
  src/domains/idpay-common/apply-file.sh
  src/domains/idpay-common/env/prod/terraform.tfvars
  src/domains/idpay-common/terraform.sh
  src/domains/welfare/.terraform.lock.hcl
  src/domains/welfare/00-main.tf
  src/domains/welfare/10-cdn.tf
  src/domains/welfare/98-locals.tf
  src/domains/welfare/99-variables.tf
  src/domains/welfare/env/prod/backend.ini
  src/domains/welfare/env/prod/backend.tfvars
  src/domains/welfare/env/prod/terraform.tfvars
  src/domains/welfare/terraform.sh
Labels: applied in all envs

#762 chore: [RTD-1227] Enable ACK ingestor trigger in UAT
  src/domains/idpay-common/README.md
  src/domains/tae-app/env/uat/terraform.tfvars
Labels: uat, applied uat, tae-app

#755 fix: [RTD-531] Project essential fields to Cosmos in ack ingestor pipeline
  src/domains/tae-app/pipelines/ackIngestor.dataflow
Labels: applied in all envs, dev, uat, prod, tae-app

#764 fix: [RTD-1155] Disable alert on sender doesn't send
  src/domains/tae-app/00_monitor.tf
Labels: prod, applied prod, tae-app

#759 feat: [CSFA-93] FA POC proxing apis
  src/core/README.md
  src/core/api.tf
  src/core/api/base_policy.tpl
  src/core/api/fa_io_customer/bypass_cors_policy.xml
  src/core/api/fa_io_payment_instruments/bypass_cors_policy.xml
  src/core/api/fa_io_transaction/bypass_cors_policy.xml
  src/core/api/fa_proxy/get_session_policy.xml
  src/core/api/fa_proxy/get_wallet_policy.xml
  src/core/api/fa_proxy/openapi.yml
  src/core/api_fa.tf
  src/core/api_product/fa_proxy/base_policy.xml
Labels: applied in all envs, dev, uat, prod, core

#757 fix: [CSFA-94] bypass cors uat fa
  src/core/api.tf
  src/core/api_fa.tf
Labels: applied in all envs, dev, uat, prod, core

#737 feat: IID-53-aggiornamento-config-k-8-s-e-policy
  src/domains/idpay-app/04_apim_api_issuer.tf
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/08_k8s_configmaps.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_iban/openapi.iban.yml
  src/domains/idpay-app/api/idpay_iban/openapi.iban.yml.tpl
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_issuer_onboarding_workflow/openapi.issuer.onboarding.yml.tpl
  src/domains/idpay-app/api/idpay_issuer_wallet/get-instrument-list-policy.xml.tpl
  src/domains/idpay-app/api/idpay_issuer_wallet/put-enroll-instrument-policy.xml.tpl
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml.tpl
  src/domains/idpay-app/api/idpay_role_permission/openapi.permission.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
  src/domains/idpay-app/env/dev/terraform.tfvars
  src/domains/idpay-app/env/prod/terraform.tfvars
  src/domains/idpay-app/env/uat/terraform.tfvars
Labels: applied in all envs, idpay-app

#765 feat: [CSFA-95] add api to get merchant name
  src/core/api/fa_io_customer/findUsingGET_policy.xml.tpl
  src/core/api/fa_io_merchant/bypass_cors_policy.xml
  src/core/api/fa_io_merchant/getMerchantDetails.xml
  src/core/api/fa_io_merchant/swagger.json.tpl
  src/core/api/fa_io_merchant/swagger.yaml
  src/core/api_fa.tf
Labels: applied in all envs, dev, uat, prod, core

#771 fix: Rollback cdn module
  src/domains/idpay-common/04_cdn.tf
  src/domains/idpay-common/README.md
Labels: applied in all envs

#768 chore: [RTD-974] Enable virtual network on AutoresolveIntegrationRuntime
  src/domains/tae-common/04_datafactory.tf
Labels: applied in all envs, dev, uat, prod, tae-common

#783 fix: [RTD-1271] Align sftp threat protection
  src/core/README.md
  src/core/sftp.tf
  src/domains/tae-common/04_datafactory.tf
  src/domains/tae-common/README.md
Labels: applied in all envs, core, all envs

#784 fix: [RTD-1272] Align threat protection on acquirer storage account
  src/core/README.md
  src/core/storage.tf
Labels: applied in all envs, core, all envs

#782 fix: add tkm api key empty secret for prod
  src/k8s/rtd_secrets.tf
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
Labels: prod, applied prod, k8s

#785 fix: [RTD-1273] Align threat protection on backup storage account
  src/core/README.md
  src/core/storage.tf
Labels: applied in all envs, core, all envs

#786 fix: [RTD-1275] Alignment of Diagnostic Settings' APIM on core
  src/core/observability.tf
Labels: prod, applied prod, core

#787 chore: [RTD-1276] Align Terraform code of HPANs pipeline on rtd-app
  src/domains/rtd-app/pipelines/hashpan_csv_pipeline.json
  src/domains/rtd-app/pipelines/hashpan_par_csv_pipeline.json
Labels: applied in all envs, rtd-app, all envs

#789 fix: [RTD-1274] Enable azure policies on aks
  src/core/99_outputs.tf
  src/core/README.md
  src/core/aks.tf
Labels: applied in all envs, core, all envs

#788 feat: New app gateway multi az
  src/core/99_outputs.tf
  src/core/README.md
  src/core/network.tf
Labels: applied in all envs

#773 chore: [RTD-1251] add mongo db name in rtdingestor config map
  src/core/README.md
  src/domains/rtd-app/.terraform.lock.hcl
  src/domains/rtd-app/08_k8s_configmaps.tf
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-app

#767 feat: [RTD-1224] Add file reporter config map
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied in all envs, rtd-app, all envs

#791 feat: Change dns record to go with new app gateway.
  src/core/README.md
  src/core/dns_public.tf
  src/core/env/prod/terraform.tfvars
  src/core/network.tf
  src/core/variables.tf
Labels: applied in all envs

#796 chore: [RTD-1289] align account storage diagnostic settings
  src/core/README.md
  src/domains/tae-common/02_blob_storage.tf
Labels: applied in all envs, tae-common

#793 feat: [RTD-1283] Enable Diagnostic settings on AppGW multi-availability zone
  src/core/README.md
  src/core/observability.tf
Labels: prod, applied prod, core

#798 chore: [RTD-1291] align kusto soft delete period setting
  src/domains/tae-common/env/dev/terraform.tfvars
  src/domains/tae-common/env/prod/terraform.tfvars
  src/domains/tae-common/env/uat/terraform.tfvars
Labels: applied in all envs, tae-common

#776 chore: [RTD-639] Gather common copy activities
  src/domains/tae-app/08_pipeline.tf
  src/domains/tae-app/pipelines/copy-activities/aggregatesOnIntegrationContainer.json.tpl
  src/domains/tae-app/pipelines/copy-activities/aggregatesToLog.json.tpl
  src/domains/tae-app/pipelines/copy-activities/aggregatesToSftp.json.tpl
  src/domains/tae-app/pipelines/copy-activities/rowsCopiedToCosmosEqualsRowsCopiedOnIntContainer.json.tpl
  src/domains/tae-app/pipelines/copy-activities/rowsCopiedToCosmosEqualsRowsCopiedToLog.json.tpl
  src/domains/tae-app/pipelines/copy-activities/rowsCopiedToCosmosEqualsRowsCopiedToSFTP.json.tpl
  src/domains/tae-app/pipelines/copy-activities/rowsCopiedToCosmosEqualsRowsCopiedToSFTPTesting.json.tpl
  src/domains/tae-app/pipelines/copy-activities/senderAggregatesToDatastore.json.tpl
  src/domains/tae-app/pipelines/copy-activities/setRowsCopiedToCosmos.json.tpl
Labels: applied in all envs, tae-app, all envs

#775 feat: IDP-141 Merge Swagger APP IO
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
Labels: applied dev, idpay-app

#766 feat: IDP-168 increment pdv timeout
  src/domains/idpay-app/04_apim_api_io.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/api_product/app_io/policy_io.xml.tpl
  src/domains/idpay-app/env/dev/terraform.tfvars
  src/domains/idpay-app/env/prod/terraform.tfvars
  src/domains/idpay-app/env/uat/terraform.tfvars
Labels: applied dev, idpay-app
