Repository pagopa/cstar-infrastructure, pull requests merged in 2023-09, with the labels that each got.

#1109 chore: [RTD-1936] Remove migration-pi queue
  src/domains/rtd-app/04_eventhub.tf
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/env/dev/terraform.tfvars
Labels: dev, applied dev, rtd-app

#1110 feat: Remove Postgres Flexible and its subnet
  src/core/99_outputs.tf
  src/core/README.md
  src/core/database.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/network.tf
  src/core/variables.tf
Labels: applied in all envs

#1111 fix: fix merchant upload api
  src/domains/idpay-app/api/idpay_merchant/put-merchant-upload.xml.tpl
Labels: uat, prod, applied dev, applied uat, applied prod, idpay-app

#1107 fix: [IDP-1642] fix swagger merchant portal
  src/domains/idpay-app/api/idpay_merchants_portal/openapi.merchants.portal.yml
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-app

#1113 fix: add idpay-mock url in configmaps
  src/domains/idpay-app/08_k8s_configmaps.tf
Labels: applied dev, applied uat, applied prod, idpay-app, k8s

#1118 fix: [IDP-1761] added familyId in OnboardingRankingsDTO
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
Labels: applied dev, applied uat, applied prod, idpay-app

#1115 fix: [IDP-1762] fix role
  src/domains/idpay-app/09_initiative_storage.tf
  src/domains/idpay-app/README.md
Labels: ready to apply, applied dev, applied uat, applied prod, idpay-app

#1119 fix: [IDP-1664] remove duplicate openapi wallet
  scripts/idpay-script/openapi-merge.json
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml
Labels: applied in all envs, idpay-app

#1106 fix: Idp 1592 Payment disposition download doesn't work if not in the same network
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/09_refund_storage.tf
  src/domains/idpay-app/99_locals.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_initiative/get-reward-download.xml.tpl
Labels: ready to apply, uat, prod, applied dev, applied uat, applied prod, idpay-app

#1116 chore: [RTD-1959] bump CosmosDB Mongo API version
  src/domains/idpay-common/env/dev/terraform.tfvars
  src/domains/idpay-common/env/prod/terraform.tfvars
  src/domains/idpay-common/env/uat/terraform.tfvars
  src/domains/rtd-common/env/dev/terraform.tfvars
  src/domains/rtd-common/env/prod/terraform.tfvars
  src/domains/rtd-common/env/uat/terraform.tfvars
Labels: applied in all envs, rtd-common, idpay-common, all envs

#1120 feat: Idp 1667 come op voglio monitorare il servizio esterno check iban
  src/domains/idpay-app/workbooks/OPEXWorkbook.json.tpl
Labels: uat, prod, applied dev, applied uat, applied prod

#1123 chore: [RTD-1991] HTTPS for calls to ingress k8s
  src/domains/idpay-app/04_apim_api_acquirer.tf
  src/domains/idpay-app/04_apim_api_assistance.tf
  src/domains/idpay-app/04_apim_api_io.tf
  src/domains/idpay-app/04_apim_api_issuer.tf
  src/domains/idpay-app/04_apim_api_mil.tf
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/04_apim_api_portal_merchants.tf
  src/domains/idpay-app/99_locals.tf
Labels: uat, prod, applied dev, applied uat, applied prod, idpay-app

#1125 feat: [IDP-1812] new variable and mock added to delete service IO
  src/domains/idpay-app/04_apim_api_mock.tf
  src/domains/idpay-app/08_k8s_configmaps.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_mock_api/mock_delete_service.xml.tpl
  src/domains/idpay-app/env/dev/terraform.tfvars
  src/domains/idpay-app/env/prod/terraform.tfvars
  src/domains/idpay-app/env/uat/terraform.tfvars
Labels: ready to apply, applied dev, applied uat, applied prod, idpay-app

#1132 chore: [RTD-1991] allows only https apim protocols
  src/domains/idpay-app/04_apim_api_acquirer.tf
  src/domains/idpay-app/04_apim_api_assistance.tf
  src/domains/idpay-app/04_apim_api_io.tf
  src/domains/idpay-app/04_apim_api_issuer.tf
  src/domains/idpay-app/04_apim_api_mock_merchant.tf
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/04_apim_api_portal_merchants.tf
  src/domains/rtd-app/04_api_rtd.tf
Labels: dev, uat, prod, applied dev, applied uat, applied prod

#1127 fix: [IDP-1751] strengthened check over the header acquirerId for api MIL
  src/domains/idpay-app/api/idpay_mil/openapi.mil.yml
  src/domains/idpay-app/api_product/mil_api/policy_mil.xml
Labels: ready to apply, applied dev, applied uat, applied prod, idpay-app

#1133 chore: [RTD-1991] Enforce https apim bpd
  src/core/api.tf
  src/core/api_bpd.tf
  src/core/api_pm.tf
Labels: dev, uat, prod, applied dev, applied uat, applied prod, core

#1129 fix: [IDP-1824] added familyId in onboardingList
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
Labels: applied dev, applied uat, applied prod, idpay-app

#1126 feat: Idp 1551 delete api getTransaction from swagger io
  scripts/idpay-script/openapi-merge.json
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_qrcode_payment/io/openapi.qrcode_payment_io.yml.tpl
Labels: applied in all envs, dev, uat, prod, idpay-app

#1122 feat: [IDP-1794] new API idpay_code
  src/domains/idpay-app/04_apim_api_io.tf
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
  src/domains/idpay-app/api/idpay_wallet/get-code-status-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
  src/domains/idpay-app/api/idpay_wallet/post-generate-idpaycode-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/put-enroll-instrument-idpaycode-policy.xml.tpl
Labels: applied in all envs, ready to apply, idpay-app

#1124 feat: IDP-1674 Update query of OPEX dashboard to capture the “OperationNotFound” exception
  src/domains/idpay-app/workbooks/OPEXWorkbook.json.tpl
Labels: applied in all envs, dev, uat, prod, idpay-app

#1137 fix: [IDP-1868] mock io_backend_base_url UAT
  src/domains/idpay-app/env/uat/terraform.tfvars
Labels: applied uat
