Repository pagopa/cstar-infrastructure, pull requests merged in 2023-07, with the labels that each got.

#1012 feat: [RTD-1768] expose mock io api with subscription_required enabled
  src/domains/rtd-app/04_api_mock.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/api/mock_io_test/swagger.json
  src/domains/rtd-app/api_product/mock_api/policy.xml
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied in all envs, rtd-app

#1020 feat: [RTD-1781] Linked missing-ade-in alert to opsgenie
  src/domains/tae-app/01_monitor_incident.tf
Labels: prod, applied prod, tae-app

#1003 feat: [RTD-1753] add incident alarm for decrypting problem
  src/domains/tae-app/01_monitor_incident.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#1021 chore: [RTD-1748] add link to opsgenie for external access problems alert
  src/domains/tae-app/01_monitor_incident.tf
Labels: applied prod, tae-app

#1017 feat: [IDP-1153] added new merchant policy for get institution users
  src/domains/idpay-app/04_apim_api_portal_merchants.tf
  src/domains/idpay-app/api/idpay_notification_email/get-institution-user-info-merchant-policy.xml.tpl
Labels: applied dev, applied uat, applied prod, idpay-app, all envs

#1016 fix: [IDP-1282] added developers group to MIL product
  src/domains/idpay-app/04_apim_api_mil.tf
  src/domains/idpay-app/api/idpay_merchants_portal/openapi.merchants.portal.yml.tpl
  src/domains/idpay-app/api/idpay_mil/openapi.mil.yml
  src/domains/idpay-app/api/idpay_mil/openapi.mil.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/acquirer/openapi.qrcode_payment_acquirer.yml.tpl
  src/domains/idpay-app/api_product/acquirer/policy_acquirer.xml
  src/domains/idpay-app/api_product/mil_api/policy_mil.xml
  src/domains/idpay-app/win_terraform.sh
  src/domains/idpay-common/win_terraform.sh
Labels: applied dev, applied uat, applied prod, idpay-app

#1018 fix: Update swagger timeline
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
Labels: applied dev, applied uat, applied prod, idpay-app

#1026 chore: [RTD-1793] add work around to elude continuous replace of expiration date
  src/domains/idpay-app/.terraform.lock.hcl
  src/domains/idpay-app/10_p7m_certificate.tf
Labels: idpay-app

#1032 fix: IDP-1358 change index
  src/domains/idpay-common/03_database.tf
Labels: uat, prod, applied dev, applied uat, applied prod, idpay-common

#1033 fix: Add blob private zone virtual link to aks vnet
  src/core/README.md
  src/core/dns_private.tf
Labels: dev, uat, prod, applied dev, applied uat, applied prod, core

#1029 fix: IDP-1260 setting PROD storage private
  src/domains/idpay-app/09_audit_log_storage.tf
  src/domains/idpay-app/09_refund_storage.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/env/prod/terraform.tfvars
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-app

#1014 feat: IDP-1030 Come DevOps voglio allarmare in caso di eccezione
  src/domains/idpay-app/12_alert.tf
  src/domains/idpay-app/README.md
Labels: uat, prod, idpay-app

#1030 fix: IDP-1261 setting private access to redis
  src/domains/idpay-common/env/dev/terraform.tfvars
  src/domains/idpay-common/env/prod/terraform.tfvars
  src/domains/idpay-common/env/uat/terraform.tfvars
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-common

#1035 feat: IDP-1316_alert_OPEX_workbook
  src/domains/idpay-app/.terraform.lock.hcl
  src/domains/idpay-app/12_alert.tf
  src/domains/idpay-app/99_data_idpay_common.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/workbooks/OPEXWorkbook.json.tpl
Labels: applied dev, applied uat, applied prod, idpay-app

#1039 feat: [IDP-1322] deleted cosmos's DisableRateLimitingResponses parameter in…
  src/domains/idpay-common/env/dev/terraform.tfvars
  src/domains/idpay-common/env/prod/terraform.tfvars
  src/domains/idpay-common/env/uat/terraform.tfvars
Labels: applied in all envs, idpay-common

#1043 chore: [RTD-1812] tae container to domain
  src/core/README.md
  src/domains/tae-app/02_storage_container.tf
  src/domains/tae-app/99_variables.tf
  src/domains/tae-app/README.md
  src/domains/tae-app/env/dev/terraform.tfvars
  src/domains/tae-app/env/prod/terraform.tfvars
  src/domains/tae-app/env/uat/terraform.tfvars
Labels: dev, uat, prod, applied dev, applied uat, applied prod, core, tae-app

#1044 feat: IDP-1411 added new indexes in wallet db
  src/domains/idpay-common/03_database.tf
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-common

#1045 feat: IDP-1413 added new indexes in payment_instrument collection
  src/domains/idpay-common/03_database.tf
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-common

#1038 fix: [IDP-1399] update merchant swagger new errorKey
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml.tpl
  src/domains/idpay-app/api/idpay_mil/openapi.mil.yml
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-app

#1040 feat: [IDP-1308] new API merchant for portal
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/api/idpay_merchant/get-merchant-statistics-policy.xml.tpl
  src/domains/idpay-app/api/idpay_merchant/get-merchant-transactions-policy.xml.tpl
  src/domains/idpay-app/api/idpay_merchant/get-merchant-transactions-processed-policy.xml.tpl
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-app

#1041 fix: [IDP-1393] Modified appio, iniative, onboarding and wallet swaggers t…
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-app

#1048 fix: Remove old API io-backend-test
  src/core/README.md
  src/core/api.tf
  src/core/api/bpd_io_backend_test/post_get_token_policy.xml
  src/core/api/bpd_io_backend_test/swagger.json
Labels: applied in all envs, core

#1047 fix: [Idp 1428] aggiornamento swagger singoli
  src/domains/idpay-app/api/idpay_iban/openapi.iban.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml
  src/domains/idpay-app/api/idpay_qrcode_payment/io/openapi.qrcode_payment_io.yml.tpl
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-app

#1051 feat: Remove bpd exporter pipeline
  src/domains/rtd-app/07_datasets.tf
  src/domains/rtd-app/08_pipeline.tf
  src/domains/rtd-app/README.md
Labels: applied in all envs

#1049 chore: [RTD-1845] New backend mock io service
  src/core/api.tf
  src/core/api_product/app_io/policy.xml
  src/domains/idpay-app/.terraform.lock.hcl
  src/domains/idpay-app/04_apim_api_io.tf
  src/domains/idpay-app/99_locals.tf
  src/domains/idpay-app/api_product/app_io/policy_io.xml.tpl
  src/domains/rtd-app/04_api_mock.tf
Labels: dev, uat, applied dev, applied uat, rtd-app, idpay-app

#1063 feat: remove bpd ehubs dev uat
  src/core/env/dev/terraform.tfvars
  src/core/env/uat/terraform.tfvars
Labels: dev, uat, applied dev, applied uat, core

#1056 feat: [IDP-1486] Modified appio swagger full to include fields and api descriptions and familyId field
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
Labels: applied in all envs, uat, prod, applied uat, applied prod, idpay-app

#1064 fix: [IDP-1367] update policy download ranking
  src/domains/idpay-app/04_apim_api_assistance.tf
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/99_locals.tf
  src/domains/idpay-app/api/idpay_assistance/get-ranking-download.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/get-ranking-download.xml.tpl
Labels: applied in all envs, ready to apply, idpay-app

#1050 feat: [IDP-1471] new command queue
  src/domains/idpay-common/env/dev/terraform.tfvars
  src/domains/idpay-common/env/prod/terraform.tfvars
  src/domains/idpay-common/env/uat/terraform.tfvars
Labels: applied in all envs, applied dev, applied uat, applied prod, idpay-common

#1067 fix: Idp 1474 new error code for auth and pre-auth added
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_qrcode_payment/io/openapi.qrcode_payment_io.yml.tpl
Labels: applied in all envs, ready to apply, idpay-app

#1061 feat: [IDP-1351] added merchant api policy for assistance
  src/domains/idpay-app/04_apim_api_assistance.tf
  src/domains/idpay-app/api/idpay_assistance/get-merchant-detail-policy.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-merchant-list-policy.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-merchant-statistics-policy.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-merchant-transactions-policy.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/get-merchant-transactions-processed-policy.xml.tpl
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
Labels: applied in all envs, uat, prod, applied dev, applied uat, applied prod, idpay-app

#1065 feat: [IDP-969] api per caricamento isee cittadino
  src/domains/idpay-app/04_apim_api_mock_citizen_data.tf
  src/domains/idpay-app/99_data_idpay_common.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_mock_citizen_data/create-isee-policy.xml.tpl
  src/domains/idpay-app/api/idpay_mock_citizen_data/openapi.mock.citizen.yml
  src/domains/idpay-app/env/dev/terraform.tfvars
  src/domains/idpay-app/env/prod/terraform.tfvars
  src/domains/idpay-app/env/uat/terraform.tfvars
Labels: apply in progress, ready to apply, uat, prod, applied dev, applied uat, idpay-app
