Repository pagopa/cstar-infrastructure, pull requests merged in 2023-10, with the labels that each got.

#1131 feat: IDP-1821-creazione-collection-payment-instrument-code
  src/domains/idpay-common/03_database.tf
  src/domains/idpay-common/README.md
  src/domains/idpay-common/env/prod/terraform.tfvars
  src/domains/idpay-common/env/uat/terraform.tfvars
Labels: uat, prod, applied dev, applied uat, applied prod, idpay-common

#823 chore: [RTD-970] Enable soft delete via blob properties
  src/core/README.md
  src/core/env/dev/terraform.tfvars
  src/core/storage.tf
  src/core/variables.tf
Labels: applied in all envs, all envs

#1141 fix: Rtd 970 increase soft delete days prod
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
Labels: prod, applied prod

#1149 fix: Idp 1873 migrazione mock io ai servizi managed fix get profile deprecated
  src/domains/idpay-app/04_apim_api_mock.tf
  src/domains/idpay-app/api/idpay_mock_api/mock_notificator_profiles.xml.tpl
Labels: ready to apply, applied dev, applied uat, applied prod, idpay-app

#1148 feat: IDP-1860 inps mock moved
  src/domains/idpay-app/api/idpay_mock_citizen_data/create-isee-policy.xml.tpl
  src/domains/idpay-app/api/idpay_mock_citizen_data/openapi.mock.citizen.yml
Labels: applied dev, applied uat, applied prod

#1147 feat: [IDP-1923] added new product and api for 'ministero degli interni'
  src/domains/idpay-app/04_apim_api_min_int.tf
  src/domains/idpay-app/05_apim_diagnostics.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_min_int/openapi.min.int.yml
  src/domains/idpay-app/api/idpay_min_int/put-associate-user-trx-policy.xml.tpl
  src/domains/idpay-app/api_product/min_int/policy_min_int.xml
Labels: applied in all envs, ready to apply, idpay-app

#1154 feat: Idp 1914 idpay code keys
  src/domains/idpay-app/01_keyvault.tf
  src/domains/idpay-app/README.md
Labels: applied in all envs, apply in progress, idpay-app, all envs

#1153 fix: IDP-1884 moving Selfcare Oidc file exposure into CDN
  src/domains/idpay-app/.terraform.lock.hcl
  src/domains/idpay-app/04_apim_api_token_exchange.tf
  src/domains/idpay-app/04_apim_api_token_exchange_merchants.tf
  src/domains/idpay-app/README.md
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-app

#1142 feat: [IDP-1906] Update swagger and API for barcode and idpaycode
  scripts/idpay-script/openapi-merge.json
  src/domains/idpay-app/04_apim_api_io.tf
  src/domains/idpay-app/04_apim_api_portal_merchants.tf
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_merchants_portal/openapi.merchants.portal.yml
  src/domains/idpay-app/api/idpay_merchants_portal/put-bar-code-authorize-merchant-policy.xml.tpl
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml.tpl
  src/domains/idpay-app/api/idpay_payment/openapi.payment.yml.tpl
  src/domains/idpay-app/api/idpay_payment_io/openapi.payment_io.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/io/openapi.qrcode_payment_io.yml.tpl
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
Labels: applied in all envs, idpay-app, all envs

#1157 fix: IDP-1977-cambiare-id-nella-collezione-payment-instrument-code
  src/domains/idpay-common/03_database.tf
Labels: applied in all envs, ready to apply, uat, prod, applied dev, applied uat, applied prod, idpay-common

#1158 feat: [IDP-1985] add handle payment error in create bar-code
  src/domains/idpay-app/04_apim_api_portal_merchants.tf
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_merchants_portal/openapi.merchants.portal.yml
  src/domains/idpay-app/api/idpay_merchants_portal/put-confirm-merchant-transaction-policy.xml.tpl
  src/domains/idpay-app/api/idpay_payment_io/openapi.payment_io.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/io/openapi.qrcode_payment_io.yml.tpl
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
Labels: applied in all envs, ready to apply, applied dev, applied uat, applied prod, idpay-app

#1159 feat: [IDP-1991] generic API for transaction
  src/domains/idpay-app/04_apim_api_mil.tf
  src/domains/idpay-app/05_apim_diagnostics.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_merchants_portal/delete-merchant-transaction-policy.xml.tpl
  src/domains/idpay-app/api/idpay_merchants_portal/post-create-merchant-transaction-policy.xml.tpl
  src/domains/idpay-app/api/idpay_mil/idpay_mil_payment/delete-transaction-policy.xml.tpl
  src/domains/idpay-app/api/idpay_mil/idpay_mil_payment/get-transaction-policy.xml.tpl
  src/domains/idpay-app/api/idpay_mil/idpay_mil_payment/openapi.mil.payment.yml
  src/domains/idpay-app/api/idpay_mil/openapi.mil.yml
  src/domains/idpay-app/api/idpay_min_int/openapi.min.int.yml
  src/domains/idpay-app/api_fragment/merchant-id-retriever.xml
Labels: applied in all envs, ready to apply, idpay-app

#1130 feat: rtd-1993
  src/domains/idpay-app/09_initiative_storage.tf
  src/domains/idpay-common/04_cdn.tf
  src/domains/idpay-common/README.md
Labels: applied in all envs, idpay-app, idpay-common

#1162 feat: Added private endpoint to management storage account
  src/core/README.md
  src/core/observability.tf
  src/core/storage.tf
Labels: applied prod
