Repository pagopa/cstar-infrastructure, pull requests merged in 2023-08, with the labels that each got.

#1075 fix: [IDP-1563] Add hpan as index of payment_instrument
  src/domains/idpay-common/03_database.tf
Labels: applied in all envs, dev, uat, prod, applied dev, applied uat, applied prod, idpay-common

#1070 chore: move rtd-trx to evh-rtd
  src/domains/idpay-app/08_k8s_configmaps.tf
  src/domains/idpay-common/01_keyvault_external_secrets.tf
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied in all envs, dev, uat, prod, applied dev, applied uat, applied prod, rtd-app, idpay-app

#1076 fix: [IDP-506] fixed file extension api issuer wallet
  src/domains/idpay-app/04_apim_api_issuer.tf
  src/domains/idpay-app/api/idpay_issuer_wallet/openapi.issuer.wallet.yml.tpl
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-app

#1073 feat: [RTD-1701] Add rewrite rule to remove tracing headers
  src/core/network.tf
Labels: applied in all envs, core, all envs

#1077 fix: [IDP-787] add response with status code 400 in getTimeline api
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_issuer_timeline/openapi.issuer.timeline.yml.tpl
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
Labels: applied in all envs, idpay-app

#1084 chore: [RTD-1868] Create rtd-platform-events to rtd eventhub
  src/domains/rtd-app/04_eventhub.tf
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-app

#1080 feat: IDP-1561-aggiornamento-indici-per-cancellazione-iniziativa
  src/domains/idpay-common/03_database.tf
Labels: applied in all envs, ready to apply, idpay-common

#1083 chore: [RTD-1844] add runbook for adein problems
  src/domains/tae-app/00_key_vault.tf
  src/domains/tae-app/01_monitor_incident.tf
  src/domains/tae-app/99_variables.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#1081 chore: [RTD-1843] add runbook for decrypter problems
  src/domains/tae-app/00_key_vault.tf
  src/domains/tae-app/01_monitor_incident.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#1082 chore: [RTD-1842] add runbook for external access problems
  src/domains/tae-app/00_key_vault.tf
  src/domains/tae-app/01_monitor_incident.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#1086 chore: [RTD-1872] Create storage subscription for eventgrid
  src/domains/rtd-app/04_eventgrid.tf
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/README.md
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-app

#1087 feat: IDP-1448_analisi_sugli_indici_su_collection_notification
  src/domains/idpay-common/03_database.tf
Labels: applied in all envs, dev, uat, prod, idpay-common

#1088 chore: [RTD-1826] Remove rtd-platform-events for dev & uat
  src/core/env/dev/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/events.tf
  src/core/sftp.tf
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtd-common, core, idpay-common

#1091 fix: [RTD-1908] fix decrypter incident description typo
  src/domains/tae-app/01_monitor_incident.tf
Labels: prod, applied prod, tae-app

#1092 feat: [IDP-1469] adeguare-user-initiative-counters-per-nuclei
  src/domains/idpay-common/03_database.tf
Labels: applied dev, applied uat, applied prod, idpay-common

#1098 fix: Add CAA record to welfare dns
  src/core/README.md
  src/core/dns_public.tf
Labels: applied in all envs, all envs

#1099 fix: IDP-1645-Added 401 exception to wallet swagger api, modified swagger io full accordingly
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
Labels: applied in all envs, ready to apply, dev, uat, prod, idpay-app

#1101 feat: IDP-1446-analizzare-il-costo-delle-query-sulla-collection-hpan-initiatives-lookup
  src/domains/idpay-common/03_database.tf
Labels: applied in all envs, uat, prod, idpay-common

#1090 chore: [RTD-1903] Enable event grid subscription in prod platform-events
  src/domains/rtd-app/04_eventgrid.tf
Labels: no merge, prod, rtd-app
