Repository pagopa/cstar-infrastructure, pull requests merged in 2023-12, with the labels that each got.

#1196 feat: [IDP-2155] new fragment for MIL token
  src/domains/idpay-app/06_apim_fragments.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api_fragment/validate-token-mil.xml
  src/domains/idpay-app/env/dev/terraform.tfvars
  src/domains/idpay-app/env/prod/terraform.tfvars
  src/domains/idpay-app/env/uat/terraform.tfvars
Labels: applied in all envs, idpay-app

#1176 feat: Idp 2101 aggiornamento swagger
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_issuer_onboarding_workflow/openapi.issuer.onboarding.yml.tpl
  src/domains/idpay-app/api/idpay_issuer_onboarding_workflow/put-consent-policy.xml.tpl
  src/domains/idpay-app/api/idpay_issuer_wallet/openapi.issuer.wallet.yml.tpl
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml.tpl
  src/domains/idpay-app/api/idpay_payment_io/openapi.payment_io.yml.tpl
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
Labels: applied in all envs, ready to apply, idpay-app

#1156 fix: [RTD-2286] Make Data Explorer Private
  src/core/README.md
  src/core/dns_private.tf
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/network.tf
  src/core/observability.tf
  src/domains/tae-app/01_linked_service.tf
  src/domains/tae-app/02_datasets.tf
  src/domains/tae-app/README.md
  src/domains/tae-common/02_blob_storage.tf
  src/domains/tae-common/04_datafactory.tf
  src/domains/tae-common/README.md
Labels: applied dev, applied uat, applied prod, core, tae-app, tae-common

#1198 feat: IDP-2180 put API onboarding into mil
  src/domains/idpay-app/04_apim_api_mil.tf
  src/domains/idpay-app/05_apim_diagnostics.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_mil/idpay_mil_onboarding/get-initiative-list-policy.xml.tpl
  src/domains/idpay-app/api/idpay_mil/idpay_mil_onboarding/get-onboarding-status-policy.xml.tpl
  src/domains/idpay-app/api/idpay_mil/idpay_mil_onboarding/openapi.mil.onboarding.yml
  src/domains/idpay-app/api/idpay_mil/idpay_mil_onboarding/put-check-prerequisites-policy.xml.tpl
  src/domains/idpay-app/api/idpay_mil/idpay_mil_onboarding/put-consent-policy.xml.tpl
  src/domains/idpay-app/api/idpay_mil/idpay_mil_onboarding/put-terms-conditions-policy.xml.tpl
  src/domains/idpay-app/api_fragment/validate-token-mil.xml
  src/domains/idpay-app/api_product/mil_api/policy_mil_citizen.xml
  src/domains/idpay-app/api_product/mil_api/policy_mil_merchant.xml
Labels: applied in all envs, ready to apply, uat, prod, idpay-app

#1199 fix: [IDP-2207] Added splitPayment and residualAmountCents on getStatusTransaction and Barcode authorization
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml
  src/domains/idpay-app/api/idpay_merchants_portal/openapi.merchants.portal.yml
  src/domains/idpay-app/api/idpay_mil/idpay_mil_payment/openapi.mil.payment.yml
  src/domains/idpay-app/api/idpay_qrcode_payment/acquirer/openapi.qrcode_payment_acquirer.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/acquirer/openapi.qrcode_payment_test_merchant.yml.tpl
Labels: applied in all envs, idpay-app

#1197 feat: [RTD-2227] Add invalidate flow pipeline
  src/domains/tae-app/01_linked_service.tf
  src/domains/tae-app/03_pipeline.tf
  src/domains/tae-app/99_variables.tf
  src/domains/tae-app/README.md
  src/domains/tae-app/env/dev/terraform.tfvars
  src/domains/tae-app/env/prod/terraform.tfvars
  src/domains/tae-app/env/uat/terraform.tfvars
  src/domains/tae-app/pipelines/data-explorer-activities/duplicateAndInvalidateFlow.json
  src/domains/tae-app/pipelines/data-explorer-activities/purgeInvalidFlow.json
Labels: applied in all envs, tae-app, all envs
