Repository pagopa/cstar-infrastructure, pull requests merged in 2023-06, with the labels that each got.

#950 chore: [RTD-1598] migrate tls checker to v3
  src/domains/rtd-app/02_namespace_domain.tf
  src/domains/rtd-app/80_tls_checker.tf
  src/domains/rtd-app/README.md
Labels: applied in all envs, dev, uat, prod, applied dev, applied uat, applied prod, rtd-app

#964 chore: [RTD-1718] move "deposited file check api" from core to rtd-app domain
  src/core/README.md
  src/core/api_rtd.tf
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/api/rtd_deposited_file_check/azureblob_policy.xml
  src/domains/rtd-app/api/rtd_deposited_file_check/openapi.yml
Labels: applied in all envs, rtd-app, core

#963 feat: IDP-1005_workbook_opex
  src/domains/idpay-app/11_workbooks.tf
  src/domains/idpay-app/workbooks/OPEXWorkbook.json.tpl
Labels: applied in all envs, idpay-app, all envs

#954 feat: Idp 1083 mongo collections updates
  src/domains/idpay-common/03_database.tf
Labels: applied dev, idpay-common

#969 feat: IDP-1170 add appsingihts config-map from file
  src/domains/idpay-app/08_k8s_configmaps.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/k8s-file/appinsights-config/applicationinsights.json
Labels: applied in all envs, idpay-app

#970 chore: [RTD-1725] migration from core to rtd-app senderack-download-file
  src/core/README.md
  src/core/api_rtd.tf
  src/core/tae_storage.tf
  src/domains/rtd-app/03_storage.tf
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/04_api_tae.tf
  src/domains/rtd-app/99_locals.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/api/rtd_senderack_download_file/azureblob_policy.xml
  src/domains/rtd-app/api/rtd_senderack_download_file/openapi.json
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied in all envs, rtd-app, core, all envs

#971 chore: [RTD-1726] migration senderack filename list
  src/core/README.md
  src/core/api_rtd.tf
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/api/rtd_senderack_filename_list/openapi.yml
  src/domains/rtd-app/api/rtd_senderack_filename_list/policy.xml
Labels: applied in all envs, rtd-app, core, all envs

#955 fix: [RTD-1039] switch backend service for ade ack list from register to r…
  src/domains/rtd-app/api/rtd_senderack_filename_list/policy.xml
Labels: applied in all envs, rtd-app

#975 chore: [RTD-1720] migrate payment instrument from core to rtd-app
  src/core/README.md
  src/core/api.tf
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/api/rtd_payment_instrument/openapi.json
  src/domains/rtd-app/api_product/batch_api/policy.xml
Labels: applied in all envs, rtd-app, core, all envs

#991 feat: Idpay migration to v3
  scripts/k8setup.sh
  scripts/terraform.md
  scripts/terraform.sh
  src/core/README.md
  src/core/dns_private.tf
  src/core/env/dev/backend.ini
  src/core/env/prod/backend.ini
  src/core/env/uat/backend.ini
  src/core/network_aks_domains.tf
  src/core/terraform.sh
  src/domains/idpay-app/.terraform.lock.hcl
  src/domains/idpay-app/00_network.tf
  src/domains/idpay-app/02_namespace_domain.tf
  src/domains/idpay-app/04_apim_api_acquirer.tf
  src/domains/idpay-app/04_apim_api_assistance.tf
  src/domains/idpay-app/04_apim_api_io.tf
  src/domains/idpay-app/04_apim_api_issuer.tf
  src/domains/idpay-app/04_apim_api_mock.tf
  src/domains/idpay-app/04_apim_api_mock_merchant.tf
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/04_apim_api_portal_merchants.tf
  src/domains/idpay-app/09_audit_log_storage.tf
  src/domains/idpay-app/09_initiative_storage.tf
  src/domains/idpay-app/09_refund_storage.tf
  src/domains/idpay-app/80_tls_checker.tf
  src/domains/idpay-app/99_main.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/env/prod/terraform.tfvars
  src/domains/idpay-app/terraform.sh
  src/domains/idpay-common/.terraform.lock.hcl
  src/domains/idpay-common/00_dns_private.tf
  src/domains/idpay-common/00_network.tf
  src/domains/idpay-common/01_keyvault_0.tf
  src/domains/idpay-common/03_database.tf
  src/domains/idpay-common/04_cdn.tf
  src/domains/idpay-common/04_eventhub.tf
  src/domains/idpay-common/05_redis_cache.tf
  src/domains/idpay-common/99_main.tf
  src/domains/idpay-common/99_variables.tf
  src/domains/idpay-common/README.md
  src/domains/idpay-common/env/dev/terraform.tfvars
  src/domains/idpay-common/env/prod/terraform.tfvars
  src/domains/idpay-common/env/uat/terraform.tfvars
  src/domains/idpay-common/terraform.sh
Labels: partially applied, applied dev, applied uat, idpay-app, idpay-common

#992 chore: [RTD-1723] Moved rtd mauth check api to rtd-app
  src/core/README.md
  src/core/api_rtd.tf
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/api/rtd_sender_mauth_check/openapi.yml
  src/domains/rtd-app/api/rtd_sender_mauth_check/policy.xml
Labels: applied in all envs, rtd-app, core

#974 feat: IDP-1140 added index on transaction_in_progress's status field
  src/core/README.md
  src/domains/idpay-common/03_database.tf
  src/domains/idpay-common/README.md
  src/domains/rtd-common/README.md
  src/domains/tae-common/README.md
Labels: applied dev, applied uat, applied prod, idpay-common

#979 feat: [IDP-1142] update swagger io for payment exceptions
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_qrcode_payment/io/openapi.qrcode_payment_io.yml.tpl
Labels: applied dev, applied uat, applied prod, idpay-app

#967 feat: IDP-915-workbook-pagamenti
  src/domains/idpay-app/01_keyvault.tf
  src/domains/idpay-app/11_workbooks.tf
  src/domains/idpay-app/12_alert.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/env/prod/backend.tfvars
  src/domains/idpay-app/env/prod/terraform.tfvars
  src/domains/idpay-app/env/uat/backend.tfvars
  src/domains/idpay-app/env/uat/terraform.tfvars
  src/domains/idpay-app/workbooks/PerformancePayment.json.tpl
Labels: applied dev, idpay-app

#977 chore: [RTD-1722] migrate sender auth put
  src/core/README.md
  src/core/api_rtd.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/variables.tf
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/api/rtd_sender_auth_put/openapi.yml
  src/domains/rtd-app/api/rtd_sender_auth_put/policy.xml
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied in all envs, rtd-app, core, all envs

#985 feat: [RTD-1706] Incident alert for ade-in missing files
  src/domains/tae-app/00_monitor_incident.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#993 chore: [RTD-1724] Moved rtd sender ack download api to rtd-app
  src/core/README.md
  src/core/api_rtd.tf
  src/domains/rtd-app/04_api_tae.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/api/rtd_senderack_correct_download_ack/openapi.yml
  src/domains/rtd-app/api/rtd_senderack_correct_download_ack/policy.xml
Labels: applied in all envs, rtd-app, core

#982 chore: [RTD-1719] migrate file reporter api to rtd domain
  src/core/README.md
  src/core/api_rtd.tf
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/api/rtd_filereporter/get-file-report-policy.xml
  src/domains/rtd-app/api/rtd_filereporter/openapi.yml
Labels: applied in all envs, rtd-app, core

#984 chore: [RTD-1717] migrate deposit ack api to rtd domain
  src/core/README.md
  src/core/api_rtd.tf
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/api/rtd_deposit_ade_ack/azureblob_policy.xml
  src/domains/rtd-app/api/rtd_deposit_ade_ack/openapi.yml
Labels: applied in all envs, rtd-app, core

#1007 feat: [IDP-1218] edit swagger payment/merchant
  src/domains/idpay-app/04_apim_api_portal_merchants.tf
  src/domains/idpay-app/api/idpay_merchants_portal/get-merchant-transactions-processed-policy.xml.tpl
  src/domains/idpay-app/api/idpay_merchants_portal/openapi.merchants.portal.yml
  src/domains/idpay-app/api/idpay_merchants_portal/openapi.merchants.portal.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/acquirer/openapi.qrcode_payment_acquirer.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/acquirer/openapi.qrcode_payment_test_merchant.yml.tpl
Labels: applied dev, applied uat, applied prod, idpay-app, all envs

#997 feat: IDP-1165 swagger io cancel payment
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_qrcode_payment/io/openapi.qrcode_payment_io.yml.tpl
Labels: applied dev, applied uat, applied prod, idpay-app, all envs

#1019 feat: [RTD-1780] Add ops-genie action group
  src/domains/tae-app/00_key_vault.tf
  src/domains/tae-app/01_monitor_incident.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app
