Repository pagopa/cstar-infrastructure, pull requests merged in 2023-03, with the labels that each got.

#843 chore: [RTD-967] Replace old vpn dns forwarder
  src/core/README.md
  src/core/vpn.tf
Labels: applied prod, core, all envs

#844 fix: removed accrued field from Timeline Refund
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
Labels: applied dev, applied uat, applied prod, all envs

#828 feat: [RTD-391] Add alert on Batch Service deprecated version
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#840 feat: IDP-404 creazione policy su apim
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_initiative/get-refund-detail.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/get-refund-export-summary.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/get-refund-list.xml.tpl
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
Labels: applied dev, applied uat, applied prod, idpay-app, all envs

#842 feat: [RTD-1186] Add status 2 to sender ack in DEV and UAT
  src/domains/tae-app/03_pipeline.tf
  src/domains/tae-app/99_variables.tf
  src/domains/tae-app/README.md
  src/domains/tae-app/env/dev/terraform.tfvars
  src/domains/tae-app/env/prod/terraform.tfvars
  src/domains/tae-app/env/uat/terraform.tfvars
  src/domains/tae-app/pipelines/ackIngestor.dataflow
Labels: dev, uat, applied dev, applied uat, tae-app

#846 feat: updated swagger for wallet api
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml.tpl
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
Labels: applied in all envs, idpay-app, all envs

#794 chore: [RTD-1285] fixes for k8s upgrade
  src/aks-platform/05_ingress.tf
  src/aks-platform/env/dev01/terraform.tfvars
  src/aks-platform/env/uat01/terraform.tfvars
  src/k8s/ingress.tf
  src/k8s/ingress/loadbalancer.yaml.tpl
Labels: applied dev, applied uat, k8s

#852 chore: [RTD-1465] add custom header for certificate end date
  src/core/network.tf
Labels: applied in all envs, core

#856 fix: [RTD-1476] Remove service unavailable from catch-all alert
  src/domains/tae-app/00_monitor.tf
Labels: prod, applied prod, tae-app

#855 feat: [RTD-1475] Log Content-Length header in PGP upload endpoint
  src/core/README.md
  src/core/api_rtd.tf
Labels: applied in all envs, core, all envs

#851 feat: [IDP-58] Partition tuning
  src/domains/idpay-common/env/uat/terraform.tfvars
Labels: uat, applied uat, idpay-common

#857 feat: [IDP-500] changed partitions on rtd-trx
  src/core/env/uat/terraform.tfvars
Labels: uat, applied uat, core

#861 chore: [RTD-80] enable new cert in prod for cdc
  src/core/api_cdc.tf
Labels: applied prod, core

#858 chore: [RTD-1428] DB UAT from serverless to provisioned throughput
  src/core/env/uat/terraform.tfvars
  src/domains/rtd-common/00_database.tf
Labels: uat, applied uat, core

#864 fix: rtd df private endpoint
  src/domains/rtd-app/06_linked_service.tf
  src/domains/rtd-common/04_datafactory.tf
  src/domains/rtd-common/README.md
Labels: applied in all envs, applied dev, applied uat, applied prod, rtd-common

#863 feat: IDP-499 add notification status index
  src/domains/idpay-common/03_database.tf
Labels: applied in all envs, idpay-common

#849 feat: enabling diagnostics for idpay api
  src/domains/idpay-app/.terraform.lock.hcl
  src/domains/idpay-app/05_apim_diagnostics.tf
  src/domains/idpay-app/99_locals.tf
  src/domains/idpay-app/README.md
Labels: applied in all envs, idpay-app

#866 chore: relaxing eventhub virtual network rules order
  src/domains/rtd-common/04_eventhub.tf
Labels: applied dev, applied uat, applied prod, rtd-app

#868 feat: [IDP-471] Performance test workbooks
  src/domains/idpay-app/11_workbooks.tf
  src/domains/idpay-app/workbooks/EnrollmentIBAN.json.tpl
  src/domains/idpay-app/workbooks/EnrollmentInstrumentFlowIssuer.json.tpl
  src/domains/idpay-app/workbooks/PerformanceRewardNotificationExport.json.tpl
  src/domains/idpay-app/workbooks/PerformanceRewardNotificationImport.json.tpl
  src/domains/idpay-app/workbooks/PerformanceTrx.json.tpl
Labels: applied dev, applied uat, applied prod, idpay-app

#870 feat: [RTD-1512] add service endpoint for cosmos on k8s subnet
  src/aks-platform/03_aks_0.tf
Labels: applied in all envs, k8s

#871 fix: [RTD-997] Private endpoint RTD eventhub
  src/core/README.md
  src/core/events.tf
  src/core/messages.tf
  src/core/network_aks_domains.tf
  src/core/sftp.tf
Labels: applied in all envs, dev, uat, prod, core

#867 feat: [RTD-1509] add alarm on client certificate expiry date
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/README.md
Labels: applied prod, tae-app

#869 feat: [RTD-985] add private endpoint on idpay cosmos
  src/domains/idpay-common/00_network.tf
  src/domains/idpay-common/03_database.tf
  src/domains/idpay-common/99_variables.tf
  src/domains/idpay-common/README.md
  src/domains/idpay-common/env/dev/terraform.tfvars
  src/domains/idpay-common/env/prod/terraform.tfvars
  src/domains/idpay-common/env/uat/terraform.tfvars
Labels: applied in all envs, idpay-common

#874 feat: [IDP-567] Added policy for getInitiativeBeneficiaryDetail API
  src/domains/idpay-app/04_apim_api_io.tf
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_issuer_onboarding_workflow/openapi.issuer.onboarding.yml.tpl
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml.tpl
  src/domains/idpay-app/api/idpay_wallet/get-initiative-detail-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
Labels: applied dev

#878 chore: [RTD-1504] Remove hpan par adf pipeline
  src/domains/rtd-app/08_pipeline.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied dev, applied uat, applied prod, rtd-app, all envs

#879 feat: [IDP-593] added policy for suspension
  src/domains/idpay-app/04_apim_api_portal.tf
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_initiative/put-initiative-suspension.xml.tpl
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
Labels: applied in all envs

#881 feat: IDP-572 collection suspend user
  src/domains/idpay-common/03_database.tf
Labels: applied in all envs, idpay-common

#880 feat: [RTD-1406] Return type 2 ACKs in PROD
  src/domains/tae-app/03_pipeline.tf
  src/domains/tae-app/99_variables.tf
  src/domains/tae-app/README.md
  src/domains/tae-app/env/dev/terraform.tfvars
  src/domains/tae-app/env/prod/terraform.tfvars
  src/domains/tae-app/env/uat/terraform.tfvars
  src/domains/tae-app/pipelines/ackIngestor.dataflow
Labels: prod, applied prod, tae-app
