Repository pagopa/cstar-infrastructure, pull requests merged in 2024-02, with the labels that each got.

#1219 fix: added new enum in initiative swagger
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_mil/idpay_mil_onboarding/get-onboarding-status-policy.xml.tpl
Labels: applied in all envs, idpay-app

#1222 fix: Dns forwarder packer
  src/packer/00_network.tf
  src/packer/02_dns_forwarder.tf
  src/packer/README.md
Labels: applied dev

#1218 feat: [IDP 2270] spostare coda timeline su evh01 e transaction su evh00
  src/domains/idpay-app/.terraform.lock.hcl
  src/domains/idpay-app/08_k8s_configmaps.tf
  src/domains/idpay-app/13_config_kafka_connectors.tf
  src/domains/idpay-app/99_main.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_group/openapi.group.yml
  src/domains/idpay-app/cosmos_connector.json
  src/domains/idpay-common/env/dev/terraform.tfvars
  src/domains/idpay-common/env/prod/terraform.tfvars
  src/domains/idpay-common/env/uat/terraform.tfvars
Labels: apply in progress, applied dev, applied uat, idpay-app, idpay-common

#1229 fix: [IDP-2351] added tolerance and log error in transaction_in_progress_connector
  src/domains/idpay-app/13_config_kafka_connectors.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/kafka-connectors/transaction_in_progress_connector.json
Labels: ready to apply, applied dev, applied uat, applied prod, idpay-app

#1224 feat: [IDP-2296] Added new consumer-group for idpay-transaction topic
  src/domains/idpay-common/03_database.tf
  src/domains/idpay-common/env/dev/terraform.tfvars
  src/domains/idpay-common/env/prod/terraform.tfvars
  src/domains/idpay-common/env/uat/terraform.tfvars
Labels: applied dev, applied uat, applied prod, idpay-common, all envs

#1233 fix: [IDP-2368] update transaction_in_progress_connector on pipeline filter
  src/domains/idpay-app/kafka-connectors/transaction_in_progress_connector.json
Labels: applied dev, applied uat, applied prod, idpay-app

#1236 fix: IDP-2370 fix KeyVault Encryption permission
  src/domains/idpay-app/02_namespace_domain.tf
  src/domains/idpay-common/01_keyvault_0.tf
Labels: applied in all envs, idpay-app, idpay-common, all envs

#1237 feat: [RTD-2428] add report merchants pipeline adf
  src/domains/tae-app/03_pipeline.tf
  src/domains/tae-app/99_variables.tf
  src/domains/tae-app/README.md
  src/domains/tae-app/env/dev/terraform.tfvars
  src/domains/tae-app/env/prod/terraform.tfvars
  src/domains/tae-app/env/uat/terraform.tfvars
  src/domains/tae-app/pipelines/report-merchants/activities.json
Labels: applied in all envs, tae-app

#1235 fix: [IDP-2368] update transaction_in_progress_connector on pipeline filter
  src/domains/idpay-app/kafka-connectors/transaction_in_progress_connector.json
Labels: dev, uat, prod, applied dev, applied uat, applied prod, idpay-app

#1234 feat: IDP-2309 Create serviceBus queue for timeout
  src/domains/idpay-common/04_service_bus.tf
  src/domains/idpay-common/README.md
Labels: ready to apply, applied dev, applied uat, applied prod, idpay-common

#1230 feat: IDP-2300 updated swaggers with new status AUTHORIZATION_REQUESTED and new error
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml.tpl
  src/domains/idpay-app/api/idpay_merchants_portal/openapi.merchants.portal.yml
  src/domains/idpay-app/api/idpay_mil/idpay_mil_payment/openapi.mil.payment.yml
  src/domains/idpay-app/api/idpay_payment_io/openapi.payment_io.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/acquirer/openapi.qrcode_payment_acquirer.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/acquirer/openapi.qrcode_payment_test_merchant.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/io/openapi.qrcode_payment_io.yml.tpl
Labels: applied dev, applied uat, applied prod, idpay-app
