Repository pagopa/cstar-infrastructure, pull requests merged in 2024-12, with the labels that each got.

#1323 feat: [TAE-343] substitute OpsGenie action group with Zendesk one
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/03_pipeline.tf
Labels: prod, applied prod, tae-app

#1356 feat: [SRTP-168] Added new collection to Mongo for mil-auth users.
  src/domains/mcshared-common/cosmosdb_mongo_collections.tf
  src/domains/mcshared-common/github_repository_environments.tf
Labels: applied in all envs

#1354 fix: update emd swagger
  src/domains/mil-app-poc/04_apim_emd.tf
  src/domains/mil-app-poc/api/emd_citizen/openapi.citizen.yml
  src/domains/mil-app-poc/api/emd_citizen/post-insert-citizen-consent-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_citizen/put-update-citizen-consent-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_message_core/openapi.emd.yml
  src/domains/mil-app-poc/api/emd_mil_citizen/get-citizen-consent-enabled-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_mil_citizen/get-citizen-consent-status-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_mil_citizen/openapi.mil.citizen.yml
  src/domains/mil-app-poc/api/emd_mil_citizen/post-insert-citizen-consent-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_mil_citizen/put-update-citizen-consent-policy.xml.tpl
Labels: ready to apply, applied dev, mil-app-poc

#1357 fix: update swagger
  src/domains/mil-app-poc/api/emd_citizen/openapi.citizen.yml
  src/domains/mil-app-poc/api/emd_message_core/openapi.emd.yml
  src/domains/mil-app-poc/api/emd_message_sender/openapi.emd_sender.yml
  src/domains/mil-app-poc/api/emd_mil_citizen/openapi.mil.citizen.yml
  src/domains/mil-app-poc/api/emd_tpp/openapi.tpp.yml
Labels: ready to apply, applied dev, mil-app-poc

#1349 chore: Change database from nosql to mongodb
  src/domains/rtp-app/.terraform.lock.hcl
  src/domains/rtp-common/03_database.tf
  src/domains/rtp-common/99_variables.tf
  src/domains/rtp-common/README.md
  src/domains/rtp-common/cosmosdb_accounts.tf
  src/domains/rtp-common/env/dev/terraform.tfvars
  src/domains/rtp-common/env/prod/terraform.tfvars
  src/domains/rtp-common/env/uat/terraform.tfvars
  src/domains/rtp-common/private_dns_zones.tf
  src/domains/rtp-common/private_endpoints.tf
Labels: apply in progress, prod, applied dev, applied uat, rtp-common
