Repository pagopa/cstar-infrastructure, pull requests merged in 2024-07, with the labels that each got.

#1283 feat: [TAE-215] Add alert when a GET of a pgp on decrypter fails
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#1284 feat: [TAE-253] Run pending file pipeline once a week
  src/domains/tae-app/03_pipeline.tf
  src/domains/tae-app/99_variables.tf
  src/domains/tae-app/README.md
  src/domains/tae-app/env/dev/terraform.tfvars
  src/domains/tae-app/env/prod/terraform.tfvars
  src/domains/tae-app/env/uat/terraform.tfvars
Labels: applied in all envs, tae-app, all envs

#1286 feat: [TAE-216] Add alert when a PUT of a decrypted file on decrypter
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#1291 fix: [TAE-276] Fix cast pending pipeline parameter
  src/domains/tae-app/pipelines/lookup-activities/extractPendingFilesInCosmos.json
Labels: applied in all envs, tae-app, all envs

#1289 feat(mil): add emd config cosmosdb & eventhub
  src/domains/idpay-app/06_apim_fragments.tf
  src/domains/mil-app-poc/.terraform.lock.hcl
  src/domains/mil-app-poc/00_network.tf
  src/domains/mil-app-poc/04_apim_emd.tf
  src/domains/mil-app-poc/06_apim_fragments.tf
  src/domains/mil-app-poc/08_k8s_configmaps.tf
  src/domains/mil-app-poc/99_locals.tf
  src/domains/mil-app-poc/99_main.tf
  src/domains/mil-app-poc/99_variables.tf
  src/domains/mil-app-poc/README.md
  src/domains/mil-app-poc/api/base_policy.xml
  src/domains/mil-app-poc/api/emd_message_core/openapi.emd.yml
  src/domains/mil-app-poc/api/emd_message_core/post-send-courtesy-message-policy.xml.tpl
  src/domains/mil-app-poc/api_fragment/validate-token-mil.xml
  src/domains/mil-app-poc/api_product/emd/policy_emd.xml
  src/domains/mil-app-poc/env/weu-dev/terraform.tfvars
  src/domains/mil-app-poc/env/weu-prod/terraform.tfvars
  src/domains/mil-app-poc/env/weu-uat/terraform.tfvars
  src/domains/mil-app-poc/k8s-file/appinsights-config/applicationinsights.json
  src/domains/mil-app-poc/win_terraform.sh
  src/domains/mil-common-poc/.terraform.lock.hcl
  src/domains/mil-common-poc/00_key_vault.tf
  src/domains/mil-common-poc/03_cosmosdb.tf
  src/domains/mil-common-poc/03_eventhub.tf
  src/domains/mil-common-poc/99_locals.tf
  src/domains/mil-common-poc/README.md
  src/domains/mil-common-poc/win_terraform.sh
  src/domains/mil-secrets-poc/win_terraform.sh
Labels: mil-app-poc, mil-common-poc, applied weu-dev

#1292 fix: update event hub configuration and swagger
  src/domains/mil-app-poc/.terraform.lock.hcl
  src/domains/mil-app-poc/04_apim_emd.tf
  src/domains/mil-app-poc/api/emd_message_core/openapi.emd.yml
  src/domains/mil-app-poc/api_product/emd/policy_emd.xml
  src/domains/mil-app-poc/env/weu-dev/terraform.tfvars
  src/domains/mil-app-poc/env/weu-prod/terraform.tfvars
  src/domains/mil-app-poc/env/weu-uat/terraform.tfvars
  src/domains/mil-common-poc/03_eventhub.tf
Labels: mil-app-poc, applied weu-dev

#1294 feat: Apply MIL uat
  src/core/.terraform.lock.hcl
  src/domains/mil-app-poc/.terraform.lock.hcl
  src/domains/mil-app-poc/01_network.tf
  src/domains/mil-app-poc/08_k8s_configmaps.tf
  src/domains/mil-app-poc/99_main.tf
  src/domains/mil-app-poc/README.md
  src/domains/mil-app-poc/env/weu-dev/terraform.tfvars
  src/domains/mil-app-poc/env/weu-uat/terraform.tfvars
  src/domains/mil-common-poc/.terraform.lock.hcl
  src/domains/mil-common-poc/env/weu-dev/terraform.tfvars
  src/domains/mil-common-poc/env/weu-uat/terraform.tfvars
  src/domains/mil-secrets-poc/.terraform.lock.hcl
  src/domains/mil-secrets-poc/99_main.tf
  src/domains/mil-secrets-poc/README.md
  src/domains/mil-secrets-poc/secret/weu-dev/noedit_secret_core_enc.json
  src/domains/mil-secrets-poc/secret/weu-uat/noedit_secret_core_enc.json
Labels: applied uat
