Repository pagopa/cstar-infrastructure, pull requests merged in 2024-10, with the labels that each got.

#1317 feat: [SRTP-22] Provisioning cdn
  src/domains/rtp-app/.terraform.lock.hcl
  src/domains/rtp-common/.terraform.lock.hcl
  src/domains/rtp-common/00_dns_public.tf
  src/domains/rtp-common/00_key_vault.tf
  src/domains/rtp-common/00_monitor.tf
  src/domains/rtp-common/04_rtp_cdn.tf
  src/domains/rtp-common/99_locals.tf
  src/domains/rtp-common/99_main.tf
  src/domains/rtp-common/99_variables.tf
  src/domains/rtp-common/README.md
  src/domains/rtp-common/env/dev/terraform.tfvars
  src/domains/rtp-common/env/prod/terraform.tfvars
  src/domains/rtp-common/env/uat/terraform.tfvars
  src/domains/rtp-secrets/secret/weu-prod/secret.ini
Labels: applied in all envs, applied dev, applied uat, all envs

#1319 feat: [SRTP-42] Add application gateway listener to manage rtp
  src/core/99_variables.tf
  src/core/README.md
  src/core/app_gateway.tf
  src/core/dns_public.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/key_vault_0.tf
  src/domains/rtp-app/00_network.tf
  src/domains/rtp-app/99_locals.tf
  src/domains/rtp-app/README.md
  src/domains/rtp-secrets/01_keyvault.tf
  src/domains/rtp-secrets/README.md
Labels: applied in all envs, dev, uat, prod, core

#1312 chore: [TAE-331] Remove bpd IO citizen
  src/core/README.md
  src/core/api/bpd_io_citizen/original/deleteUsingDELETE_policy.xml
  src/core/api/bpd_io_citizen/original/enrollment_policy.xml
  src/core/api/bpd_io_citizen/original/findRankingUsingGET_policy.xml
  src/core/api/bpd_io_citizen/original/findUsingGET_policy.xml
  src/core/api/bpd_io_citizen/original/swagger.json
  src/core/api/bpd_io_citizen/original/updatePaymentMethodUsingPATCH_policy.xml
  src/core/api/bpd_io_citizen/v2/deleteUsingDELETE_policy.xml
  src/core/api/bpd_io_citizen/v2/enrollment_policy.xml
  src/core/api/bpd_io_citizen/v2/findRankingMilestoneUsingGET_policy.xml
  src/core/api/bpd_io_citizen/v2/findRankingUsingGET_policy.xml
  src/core/api/bpd_io_citizen/v2/findUsingGET_policy.xml
  src/core/api/bpd_io_citizen/v2/openapi.json
  src/core/api/bpd_io_citizen/v2/updatePaymentMethodUsingPATCH_policy.xml
  src/core/api_bpd.tf
  src/core/api_product/bpd_api/policy.xml
  src/core/api_product/issuer_api/policy.xml
Labels: applied dev, applied uat, applied prod
