Repository pagopa/cstar-infrastructure, pull requests merged in 2024-03, with the labels that each got.

#1232 fix: [RTD-2411] Alarms to opsgenie
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/01_monitor_incident.tf
Labels: prod, applied prod, tae-app

#1240 fix: [IDP-2335] add header x-frame-options in idpay-cdn
  src/domains/idpay-common/04_cdn.tf
Labels: applied in all envs, ready to apply, idpay-common

#1241 fix: [RTD-2451] Wrap collect pending files activity in an If activity
  src/domains/tae-app/03_pipeline.tf
  src/domains/tae-app/99_variables.tf
  src/domains/tae-app/README.md
  src/domains/tae-app/env/dev/terraform.tfvars
  src/domains/tae-app/env/prod/terraform.tfvars
  src/domains/tae-app/env/uat/terraform.tfvars
  src/domains/tae-app/pipelines/copy-activities/collectPendingFilenames.json
  src/domains/tae-app/pipelines/if-activities/ifAtLeastOneFlowPending.json
Labels: applied in all envs, tae-app, all envs

#1238 feat: [RTD-2501] Add contracts splitting threshold for decrypter
  src/domains/rtd-app/.terraform.lock.hcl
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied in all envs, rtd-app, all envs

#1242 feat: [RTD-2527] Add contract exports containers and event subscription
  src/core/README.md
  src/core/sftp.tf
  src/domains/rtd-app/03_storage.tf
  src/domains/rtd-app/04_eventgrid.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied in all envs, rtd-app, core

#1246 fix: [RTD-2473] add apim internal host to config map reporter
  src/domains/rtd-app/08_k8s_configmaps.tf
Labels: applied in all envs, rtd-app

#1245 feat: [RTD-2526] add internal API to get files form SFTP
  src/core/README.md
  src/core/api/azureblob/azure_sftp_blob_policy.xml
  src/core/api/azureblob/sftp_internal.openapi.json
  src/core/api_rtd.tf
Labels: applied in all envs, core, all envs

#1247 fix: [IDP-2363] Added new exception code
  src/domains/idpay-app/api/idpay_group/openapi.group.yml
Labels: ready to apply, applied dev, applied uat, applied prod, idpay-app
