Repository pagopa/cstar-infrastructure, pull requests merged in 2024-11, with the labels that each got.

#1332 breaking: Tier-0 domain renamed to mcshared.
  src/domains/mcshared-common/.gitignore
  src/domains/mcshared-common/99_main.tf
  src/domains/mcshared-common/api_management_apis.tf
  src/domains/mcshared-common/api_management_products.tf
  src/domains/mcshared-common/azuread.tf
  src/domains/mcshared-common/container_app_environment.tf
  src/domains/mcshared-common/cosmosdb_accounts.tf
  src/domains/mcshared-common/cosmosdb_mongo_collections.tf
  src/domains/mcshared-common/cosmosdb_mongo_databases.tf
  src/domains/mcshared-common/env/dev/backend.ini
  src/domains/mcshared-common/env/dev/backend.tfvars
  src/domains/mcshared-common/env/dev/terraform.tfvars
  src/domains/mcshared-common/env/prod/backend.ini
  src/domains/mcshared-common/env/prod/backend.tfvars
  src/domains/mcshared-common/env/prod/terraform.tfvars
  src/domains/mcshared-common/env/uat/backend.ini
  src/domains/mcshared-common/env/uat/backend.tfvars
  src/domains/mcshared-common/env/uat/terraform.tfvars
  src/domains/mcshared-common/federated_identity_credentials.tf
  src/domains/mcshared-common/github_actions_environment_secrets.tf
  src/domains/mcshared-common/key_vaults.tf
  src/domains/mcshared-common/locals.tf
  src/domains/mcshared-common/log_analytics_query_pack_queries.tf
  src/domains/mcshared-common/monitor.tf
  src/domains/mcshared-common/private_dns_zones.tf
  src/domains/mcshared-common/private_endpoints.tf
  src/domains/mcshared-common/resource_groups.tf
  src/domains/mcshared-common/role_assignments.tf
  src/domains/mcshared-common/storage_accounts.tf
  src/domains/mcshared-common/subnets.tf
  src/domains/mcshared-common/terraform.sh
  src/domains/mcshared-common/user_assigned_identities.tf
  src/domains/mcshared-common/variables.tf
  src/domains/mcshared-common/virtual_networks.tf
  src/domains/rtp-common/.terraform.lock.hcl
  src/domains/rtp-common/env/dev/terraform.tfvars
  src/domains/rtp-common/env/prod/terraform.tfvars
  src/domains/rtp-common/env/uat/terraform.tfvars
Labels: applied dev, applied uat

#1331 feat: [SRTP-98] add rtp activator in repo lists to federate azure
  src/domains/rtp-app/00_resource_groups.tf
  src/domains/rtp-app/04_federated_identity_credentials.tf
  src/domains/rtp-app/04_github_actions_environment_secrets.tf
  src/domains/rtp-app/04_user_assigned_identities.tf
  src/domains/rtp-app/99_locals.tf
  src/domains/rtp-app/99_main.tf
  src/domains/rtp-app/README.md
Labels: applied in all envs, dev, uat, prod, rtp-app

#1320 feat: update mil db and added swagger
  src/domains/mil-app-poc/04_apim_emd.tf
  src/domains/mil-app-poc/08_k8s_configmaps.tf
  src/domains/mil-app-poc/README.md
  src/domains/mil-app-poc/api/emd_citizen/get-citizen-consent-enabled-list-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_citizen/get-citizen-consent-list-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_citizen/get-citizen-consent-status-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_citizen/openapi.citizen.yml
  src/domains/mil-app-poc/api/emd_citizen/post-insert-citizen-consent-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_citizen/put-update-citizen-consent-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_message_core/openapi.emd.yml
  src/domains/mil-app-poc/api/emd_tpp/get-tpp-detail.xml.tpl
  src/domains/mil-app-poc/api/emd_tpp/openapi.tpp.yml
  src/domains/mil-app-poc/api/emd_tpp/post-save-tpp-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_tpp/put-update-tpp-consent-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_tpp/put-update-tpp-policy.xml.tpl
  src/domains/mil-common-poc/03_cosmosdb.tf
  src/domains/mil-common-poc/03_eventhub.tf
Labels: applied dev, applied uat, mil-app-poc, mil-common-poc

#1327 chore: delete all the old mil migration resources
  src/domains/mil-app-poc/04_apim_mil.tf
  src/domains/mil-app-poc/99_variables.tf
  src/domains/mil-app-poc/README.md
  src/domains/mil-app-poc/api/mil_papos/openapi.yaml
  src/domains/mil-app-poc/api_product/mil/policy.xml
  src/domains/mil-app-poc/env/dev/terraform.tfvars
  src/domains/mil-app-poc/env/prod/terraform.tfvars
  src/domains/mil-app-poc/env/uat/terraform.tfvars
  src/domains/mil-common-poc/03_cosmosdb.tf
  src/domains/mil-common-poc/README.md
Labels: dev, uat, applied dev, applied uat, mil-app-poc, mil-common-poc

#1334 feat: Add resources to create listener for mcshared [SRTP-88]
  src/core/99_variables.tf
  src/core/README.md
  src/core/app_gateway.tf
  src/core/dns_public.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/key_vault_0.tf
Labels: applied in all envs, dev, uat, prod, core

#1339 chore: srtp create activator db
  src/domains/rtp-common/README.md
  src/domains/rtp-common/cosmosdb_accounts.tf
Labels: applied in all envs, dev, uat, prod, rtp-common

#1344 feat: [SRTP-115] Add appinsights connection to string to rtp kv
  src/domains/rtp-common/README.md
  src/domains/rtp-common/appinsights.tf
Labels: apply in progress, prod, applied dev, applied uat

#1345 fix: Permission model update from vault access policy to RBAC.
  src/domains/rtp-secrets/01_keyvault.tf
  src/domains/rtp-secrets/02_init_key_sops.tf
  src/domains/rtp-secrets/03_key_secret.tf
  src/domains/rtp-secrets/README.md
  src/domains/tier-0-common/.terraform.lock.hcl
Labels: applied dev, applied uat, applied prod, rtp-secrets

#1346 feat: Removed unused stuff related to AKS/K8s.
  src/domains/rtp-app/00_aks.tf
  src/domains/rtp-app/01_keyvault.tf
  src/domains/rtp-app/02_namespace.tf
  src/domains/rtp-app/03_serviceaccounts_azure_devops.tf
  src/domains/rtp-app/99_locals.tf
  src/domains/rtp-app/99_main.tf
  src/domains/rtp-app/99_variables.tf
  src/domains/rtp-app/README.md
Labels: applied dev, applied uat, applied prod, rtp-app

#1347 feat: Optimization of MongoDB used by mcshared + providers upgrade.
  src/domains/mcshared-common/99_main.tf
  src/domains/mcshared-common/container_app_environment.tf
  src/domains/mcshared-common/cosmosdb_mongo_collections.tf
  src/domains/mcshared-common/env/prod/terraform.tfvars
  src/domains/mcshared-common/github_repository_environments.tf
  src/domains/mcshared-common/storage_accounts.tf
  src/domains/mcshared-common/subnets.tf
  src/domains/mcshared-common/terraform.sh
  src/domains/mcshared-common/variables.tf
Labels: applied dev, applied uat, applied prod, mcshared-common
