Repository pagopa/cstar-infrastructure, pull requests merged in 2024-04, with the labels that each got.

#1248 feat: [CHK-2502] add wallet host to ingestor configmap
  src/domains/rtd-app/00_key_vault.tf
  src/domains/rtd-app/08_k8s_configmaps.tf
  src/domains/rtd-app/99_variables.tf
  src/domains/rtd-app/README.md
  src/domains/rtd-app/env/dev/terraform.tfvars
  src/domains/rtd-app/env/prod/terraform.tfvars
  src/domains/rtd-app/env/uat/terraform.tfvars
Labels: applied in all envs, rtd-app, all envs

#1239 feat: [RTD-2452]Production App Gateway alerts to OpsGenie
  src/core/README.md
  src/core/app_gateway.tf
  src/core/key_vault_0.tf
  src/core/observability.tf
Labels: prod, applied prod, core

#1253 fix: Idp 2363 fix bug e code smell
  src/domains/idpay-app/api/idpay_group/openapi.group.yml
Labels: applied in all envs, idpay-app

#1254 feat: add operation and openapi for report v2
  src/domains/rtd-app/04_api_rtd.tf
  src/domains/rtd-app/api/rtd_filereporter/openapi.yml
Labels: applied in all envs, rtd-app
