Repository pagopa/cstar-infrastructure, pull requests merged in 2024-05, with the labels that each got.

#1258 chore: [RTD-2449] mod for internal alerts certificate expiration
  src/core/.terraform.lock.hcl
  src/core/10_alerts.tf
  src/core/99_main.tf
  src/core/99_variables.tf
  src/core/README.md
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/observability.tf
Labels: uat, prod, applied uat, applied prod, core

#1259 fix: [RTD-2516] Change pending pipeline trigger time
  src/domains/tae-app/99_variables.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#1257 fix: [IDP-2468] management decimal values
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_issuer_timeline/openapi.issuer.timeline.yml.tpl
  src/domains/idpay-app/api/idpay_issuer_wallet/openapi.issuer.wallet.yml.tpl
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml.tpl
  src/domains/idpay-app/api/idpay_merchants_portal/openapi.merchants.portal.yml
  src/domains/idpay-app/api/idpay_mil/idpay_mil_payment/openapi.mil.payment.yml
  src/domains/idpay-app/api/idpay_mil/idpay_mil_wallet/openapi.mil.wallet.yml
  src/domains/idpay-app/api/idpay_qrcode_payment/io/openapi.qrcode_payment_io.yml.tpl
  src/domains/idpay-app/api/idpay_timeline/openapi.timeline.yml.tpl
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
Labels: applied in all envs, idpay-app

#1262 fix: [IDP-2520] Exception adjustment
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml.tpl
  src/domains/idpay-app/api/idpay_merchants_portal/openapi.merchants.portal.yml
  src/domains/idpay-app/api/idpay_mil/idpay_mil_payment/openapi.mil.payment.yml
  src/domains/idpay-app/api/idpay_min_int/openapi.min.int.yml
  src/domains/idpay-app/api/idpay_payment_io/openapi.payment_io.yml.tpl
  src/domains/idpay-app/api/idpay_qrcode_payment/io/openapi.qrcode_payment_io.yml.tpl
Labels: ready to apply, applied dev, applied uat, idpay-app
