Repository pagopa/cstar-infrastructure, pull requests merged in 2024-01, with the labels that each got.

#1205 fix: [RTD-2306] Make invalidation pipeline idempotent
  src/domains/tae-app/pipelines/data-explorer-activities/duplicateAndInvalidateFlow.json
  src/domains/tae-app/pipelines/deleteAggregatesByTimestamp.json
Labels: applied in all envs, tae-app, all envs

#1200 fix: Update swagger iban, merchant and initiative
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_assistance/openapi.assistance.yml
  src/domains/idpay-app/api/idpay_group/openapi.group.yml
  src/domains/idpay-app/api/idpay_iban/openapi.iban.yml
  src/domains/idpay-app/api/idpay_iban/openapi.iban.yml.tpl
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_issuer_onboarding_workflow/openapi.issuer.onboarding.yml.tpl
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml
  src/domains/idpay-app/api/idpay_merchant/openapi.merchant.yml.tpl
  src/domains/idpay-app/api/idpay_merchants_portal/openapi.merchants.portal.yml
  src/domains/idpay-app/api/idpay_mil/idpay_mil_merchant/openapi.mil.merchant.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml.tpl
  src/domains/idpay-app/api/idpay_role_permission/openapi.role-permission.yml
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
Labels: uat, prod, applied dev, applied uat, applied prod, idpay-app

#1206 feat: [RTD-2317] Invalidate array of flows
  src/domains/tae-app/03_pipeline.tf
  src/domains/tae-app/pipelines/data-explorer-activities/duplicateAndInvalidateFlow.json
  src/domains/tae-app/pipelines/data-explorer-activities/purgeInvalidFlow.json
  src/domains/tae-app/pipelines/foreach-activities/invalidateEachFlow.json
Labels: applied in all envs, tae-app, all envs

#1207 feat: [RTD-2289] Increase query info of tae-p-failed-get-sender-ade-ack-list
  src/domains/tae-app/00_monitor.tf
Labels: prod, applied prod, tae-app

#1210 chore: [RTD-2291] Remove redundant kusto principal assignment
  src/domains/tae-app/01_linked_service.tf
  src/domains/tae-common/04_datafactory.tf
  src/domains/tae-common/README.md
Labels: applied in all envs, dev, uat, prod, applied dev, applied uat, applied prod, tae-app, tae-common

#1208 feat: [RTD-2323] Clean Cosmos records while invalidating flow
  src/domains/tae-app/03_pipeline.tf
  src/domains/tae-app/pipelines/copy-activities/deleteInvalidatedFlowFromCosmos.json
  src/domains/tae-app/pipelines/foreach-activities/invalidateEachFlow.json
Labels: applied in all envs, tae-app, all envs

#1211 fix: read pgp public key from rtd key vault
  src/domains/rtd-app/00_key_vault.tf
Labels: applied in all envs, rtd-app

#1212 fix: remove connection strings propagation from old eventhub to rtd eventhub
  src/domains/rtd-common/01_keyvault_external_eventhub.tf
  src/domains/rtd-common/README.md
Labels: rtd-common

#1213 fix: [RTD-2360] remove reference to old k8s snet
  src/domains/rtd-common/00_network.tf
  src/domains/rtd-common/03_database.tf
  src/domains/rtd-common/04_eventhub.tf
  src/domains/rtd-common/README.md
Labels: applied in all envs, rtd-common

#1215 feat: Added identity rg
  src/core/README.md
  src/core/identity_rg.tf
  src/domains/idpay-app/.terraform.lock.hcl
  src/domains/idpay-app/03_serviceaccounts_azure_devops.tf
  src/domains/idpay-app/99_main.tf
  src/domains/idpay-app/README.md
  src/domains/rtd-app/.terraform.lock.hcl
  src/domains/rtd-app/03_serviceaccounts_azure_devops.tf
  src/domains/rtd-app/99_main.tf
  src/domains/rtd-app/README.md
  src/k8s/outputs.tf
  src/k8s/serviceaccounts.tf
Labels: applied in all envs

#1209 feat: Add archive policy for ADE acks
  src/core/README.md
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/sftp.tf
  src/core/variables.tf
Labels: applied dev, applied uat, applied prod, all envs

#1201 fix: prod url io manage backend
  src/domains/idpay-app/env/prod/terraform.tfvars
Labels: prod, applied prod, idpay-app

#1217 chore: remove secrets copying from rtd kv to old k8s
  src/k8s/README.md
  src/k8s/outputs.tf
  src/k8s/secrets.tf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
  src/k8s/variables.tf
Labels: k8s

#1220 chore: remove old k8s folder
  src/k8s/.terraform.lock.hcl
  src/k8s/99_main.tf
  src/k8s/README.md
  src/k8s/bpd_configmaps.tf
  src/k8s/bpd_deployments_hpa.tf
  src/k8s/bpd_ingress.tf
  src/k8s/bpd_secrets.tf
  src/k8s/configmaps/bpdmsnotificationmanager/NOTIFICATION_SERVICE_END_PERIOD_GP_MARKDOWN_KO.txt
  src/k8s/configmaps/bpdmsnotificationmanager/NOTIFICATION_SERVICE_END_PERIOD_GP_MARKDOWN_OK.txt
  src/k8s/configmaps/bpdmsnotificationmanager/NOTIFICATION_SERVICE_END_PERIOD_GP_MARKDOWN_OK_SUPERCASHBACK.txt
  src/k8s/configmaps/bpdmsnotificationmanager/NOTIFICATION_SERVICE_END_PERIOD_MARKDOWN.txt
  src/k8s/configmaps/bpdmsnotificationmanager/NOTIFICATION_SERVICE_NOTIFY_PAYMENT_WINNERS_MARKDOWN_KO.txt
  src/k8s/configmaps/bpdmsnotificationmanager/NOTIFICATION_SERVICE_NOTIFY_PAYMENT_WINNERS_MARKDOWN_KO_TECHNICAL.txt
  src/k8s/configmaps/bpdmsnotificationmanager/NOTIFICATION_SERVICE_NOTIFY_PAYMENT_WINNERS_MARKDOWN_OK.txt
  src/k8s/configmaps/bpdmsnotificationmanager/NOTIFICATION_SERVICE_NOTIFY_PAYMENT_WINNERS_MARKDOWN_OK_TECHNICAL.txt
  src/k8s/configmaps/famsnotificationmanager/NOTIFICATION_SERVICE_INVOICE_MARKDOWN_KO.txt
  src/k8s/configmaps/famsnotificationmanager/NOTIFICATION_SERVICE_INVOICE_MARKDOWN_OK.txt
  src/k8s/ingress.tf
  src/k8s/ingress/loadbalancer.yaml.tpl
  src/k8s/locals.tf
  src/k8s/namespaces.tf
  src/k8s/rbac.tf
  src/k8s/rtd_configmaps.tf
  src/k8s/rtd_ingress.tf
  src/k8s/scripts/base_64_decode.sh
  src/k8s/scripts/restart-pods.sh
  src/k8s/scripts/setup.sh
  src/k8s/scripts/ssh-port-forward.sh
  src/k8s/secrets.tf
  src/k8s/serviceaccounts.tf
  src/k8s/subscriptions/DEV-CSTAR/backend.ini
  src/k8s/subscriptions/DEV-CSTAR/conf
  src/k8s/subscriptions/DEV-CSTAR/terraform.tfvars
  src/k8s/subscriptions/PROD-CSTAR/backend.ini
  src/k8s/subscriptions/PROD-CSTAR/conf
  src/k8s/subscriptions/PROD-CSTAR/terraform.tfvars
  src/k8s/subscriptions/UAT-CSTAR/backend.ini
  src/k8s/subscriptions/UAT-CSTAR/conf
  src/k8s/subscriptions/UAT-CSTAR/terraform.tfvars
  src/k8s/terraform.sh
  src/k8s/variables.tf
Labels: k8s
