Repository pagopa/cstar-infrastructure, pull requests merged in 2024-06, with the labels that each got.

#1265 feat: [RTD-2556] Alert missing steps in TAE file processing
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, rtd-app

#1266 feat: [RTD-2565] Fail pipeline if at least one file pending in Cosmos
  src/domains/tae-app/03_pipeline.tf
  src/domains/tae-app/pipelines/fail-activities/failIfAtLeastOneFileIsPending.json
  src/domains/tae-app/pipelines/if-activities/ifAtLeastOneFlowPending.json
Labels: applied in all envs, tae-app, all envs

#1270 fix: [RTD-2575] Use decrypter logs instead of blob storage logs for alert missing steps
  src/domains/tae-app/00_monitor.tf
Labels: prod, applied prod, tae-app

#1269 fix: [IDP-2477] update SelfConsentDTO for onboarding
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_mil/idpay_mil_onboarding/openapi.mil.onboarding.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml.tpl
Labels: applied dev, applied uat, applied prod, idpay-app

#1275 chore: [RTD-2581] change severity level
  src/domains/tae-app/00_monitor.tf
Labels: applied prod, tae-app

#1278 feat: [CHK-2919] Propagate rename events wallet files
  src/domains/rtd-app/04_eventgrid.tf
Labels: applied in all envs, rtd-app, all envs

#1282 chore: [TAE-223] add alert for fail delete local blob
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/README.md
Labels: applied prod, tae-app
