Repository pagopa/cstar-infrastructure, pull requests merged in 2024-09, with the labels that each got.

#1301 fix: [TAE-320] Refactor ack ingestor to fix empty Cosmos bug
  src/domains/tae-app/03_pipeline.tf
  src/domains/tae-app/pipelines/ackIngestor.json
  src/domains/tae-app/pipelines/copy-activities/copyToTriggerEvent.json
  src/domains/tae-app/pipelines/dataflow-activities/ackIngestAndSplit.json
  src/domains/tae-app/pipelines/if-activities/ifAtLeastOneFileIsNotAcked.json
  src/domains/tae-app/pipelines/lookup-activities/extractNotAckedFilesInCosmos.json
Labels: applied in all envs, tae-app, all envs

#1299 feat: add mil-papos infra resources and add all the mil collections
  src/domains/mil-app-poc/04_apim_mil.tf
  src/domains/mil-app-poc/99_variables.tf
  src/domains/mil-app-poc/README.md
  src/domains/mil-app-poc/api/mil_papos/openapi.json
  src/domains/mil-app-poc/api/mil_terminal_registry/openapi.json
  src/domains/mil-app-poc/api_product/mil/policy.xml
  src/domains/mil-app-poc/env/dev/backend.ini
  src/domains/mil-app-poc/env/dev/backend.tfvars
  src/domains/mil-app-poc/env/dev/terraform.tfvars
  src/domains/mil-app-poc/env/prod/backend.ini
  src/domains/mil-app-poc/env/prod/backend.tfvars
  src/domains/mil-app-poc/env/prod/terraform.tfvars
  src/domains/mil-app-poc/env/uat/backend.ini
  src/domains/mil-app-poc/env/uat/backend.tfvars
  src/domains/mil-app-poc/env/uat/terraform.tfvars
  src/domains/mil-common-poc/03_cosmosdb.tf
  src/domains/mil-common-poc/env/dev/backend.ini
  src/domains/mil-common-poc/env/dev/backend.tfvars
  src/domains/mil-common-poc/env/dev/terraform.tfvars
  src/domains/mil-common-poc/env/prod/backend.ini
  src/domains/mil-common-poc/env/prod/backend.tfvars
  src/domains/mil-common-poc/env/prod/terraform.tfvars
  src/domains/mil-common-poc/env/uat/backend.ini
  src/domains/mil-common-poc/env/uat/backend.tfvars
  src/domains/mil-common-poc/env/uat/terraform.tfvars
Labels: dev, uat, applied dev, applied uat, mil-app-poc, mil-common-poc

#1302 fix: Change openapi yaml file for papos and terminal registry
  src/domains/mil-app-poc/04_apim_mil.tf
  src/domains/mil-app-poc/README.md
  src/domains/mil-app-poc/api/mil_papos/openapi.json
  src/domains/mil-app-poc/api/mil_papos/openapi.yaml
  src/domains/mil-app-poc/api/mil_terminal_registry/openapi.json
  src/domains/mil-common-poc/.terraform.lock.hcl
  src/domains/mil-common-poc/03_cosmosdb.tf
Labels: applied dev, applied uat, mil-app-poc

#1311 fix: add x-one-of instead of anyOf
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
Labels: dev, uat, prod, applied dev, applied uat, applied prod
