Repository pagopa/cstar-infrastructure, pull requests merged in 2025-04, with the labels that each got.

#1421 feat: Cache enabled for getAccessTokens operation.
  src/domains/mcshared-common/policies/fragments/rate-limit-by-clientid-formparam.xml
  src/domains/mcshared-common/policies/getAccessToken.xml
Labels: applied in all envs

#1419 feat: [SRTP-385] add poste italiane chain
  src/core-secrets/secret/dev/noedit_secret_enc.json
  src/core-secrets/secret/uat/noedit_secret_enc.json
  src/core/app_gateway.tf
Labels: applied dev, applied uat

#1422 feat: [TAE-366] add app insights connection string to Key Vault
  src/domains/rtd-app/01_keyvault.tf
  src/domains/rtd-app/README.md
Labels: applied in all envs, rtd-app, all envs

#1423 fix: Private DNS zone for Key Vault moved from mcshared domain to core.
  src/core/README.md
  src/core/dns_private.tf
  src/domains/mcshared-common/README.md
  src/domains/mcshared-common/private_dns_zones.tf
  src/domains/mcshared-common/private_endpoints.tf
Labels: applied in all envs

#1425 chore: [SRTP-401] Add storage account and file share
  src/domains/rtp-common/03_database.tf
  src/domains/rtp-common/README.md
  src/domains/rtp-common/storage_share.tf
Labels: dev, uat, applied dev, applied uat, rtp-common

#1426 fix: add tpp product
  src/domains/mil-app-poc/04_apim_emd.tf
  src/domains/mil-app-poc/README.md
  src/domains/mil-app-poc/api/emd_tpp/get-network-connection.xml.tpl
  src/domains/mil-app-poc/api/emd_tpp/get-token-section.xml.tpl
  src/domains/mil-app-poc/api/emd_tpp/get-tpp-detail.xml.tpl
  src/domains/mil-app-poc/api/emd_tpp/post-save-tpp-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_tpp/put-update-token-section-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_tpp/put-update-tpp-consent-policy.xml.tpl
  src/domains/mil-app-poc/api/emd_tpp/put-update-tpp-detail-policy.xml.tpl
  src/domains/mil-app-poc/api_product/emd/tpp/policy_emd.xml
Labels: applied dev, mil-app-poc

#1429 feat: Added the extraction of traceId from MDC.
  src/domains/mcshared-common/log_analytics_query_pack_queries.tf
Labels: applied in all envs

#1432 feat: [PAYMCLOUD-311] Remove deprecated `tls_checker` module and references.
  src/domains/idpay-app/80_middleware_tools.tf
  src/domains/idpay-app/99_locals.tf
  src/domains/idpay-app/README.md
  src/domains/mil-app-poc/.terraform.lock.hcl
  src/domains/mil-app-poc/11_aks_middleware_tools.tf
  src/domains/mil-app-poc/README.md
  src/domains/rtd-app/80_middleware_tools.tf
  src/domains/rtd-app/99_locals.tf
  src/domains/rtd-app/README.md
Labels: applied dev, applied uat, applied prod

#1433 chore: [SRTP-431] Add container for payees registry.
  src/domains/rtp-common/README.md
  src/domains/rtp-common/storage.tf
Labels: dev, uat, applied dev, applied uat, rtp-common
