Repository pagopa/cstar-infrastructure, pull requests merged in 2025-02, with the labels that each got.

#1369 feat: add webview swagger and new product and policy
  src/domains/idpay-app/04_apim_api_webview.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay-self-expense/get-redirect.xml.tpl
  src/domains/idpay-app/api/idpay-self-expense/get-session.xml.tpl
  src/domains/idpay-app/api/idpay-self-expense/login.xml.tpl
  src/domains/idpay-app/api/idpay-self-expense/openapi.self-expense.yml.tpl
  src/domains/idpay-app/api_product/webview/policy_webview.xml
Labels: applied in all envs, ready to apply, idpay-app

#1373 fix: update ingress and policy for self-expense
  src/domains/idpay-app/04_apim_api_webview.tf
  src/domains/idpay-app/api/idpay-self-expense/get-redirect.xml.tpl
  src/domains/idpay-app/api/idpay-self-expense/get-session.xml.tpl
  src/domains/idpay-app/api/idpay-self-expense/login.xml.tpl
Labels: applied in all envs, idpay-app

#1376 feat: IDP-2621 Idpay secrets
  .devops/idpay-code-review-pipelines.yml
  .devops/idpay-deploy-pipelines.yml
  scripts/sops.sh
  src/domains/idpay-secrets/.terraform.lock.hcl
  src/domains/idpay-secrets/00_data.tf
  src/domains/idpay-secrets/01_security.tf
  src/domains/idpay-secrets/02_init_key_sops.tf
  src/domains/idpay-secrets/03_key_secret.tf
  src/domains/idpay-secrets/99_locals.tf
  src/domains/idpay-secrets/99_main.tf
  src/domains/idpay-secrets/99_variables.tf
  src/domains/idpay-secrets/README.md
  src/domains/idpay-secrets/env/dev/backend.ini
  src/domains/idpay-secrets/env/dev/backend.tfvars
  src/domains/idpay-secrets/env/dev/terraform.tfvars
  src/domains/idpay-secrets/env/prod/backend.ini
  src/domains/idpay-secrets/env/prod/backend.tfvars
  src/domains/idpay-secrets/env/prod/terraform.tfvars
  src/domains/idpay-secrets/env/uat/backend.ini
  src/domains/idpay-secrets/env/uat/backend.tfvars
  src/domains/idpay-secrets/env/uat/terraform.tfvars
  src/domains/idpay-secrets/secret/weu-dev/configs.json
  src/domains/idpay-secrets/secret/weu-dev/noedit_secret_core_enc.json
  src/domains/idpay-secrets/secret/weu-dev/secret.ini
  src/domains/idpay-secrets/secret/weu-prod/configs.json
  src/domains/idpay-secrets/secret/weu-prod/noedit_secret_core_enc.json
  src/domains/idpay-secrets/secret/weu-prod/secret.ini
  src/domains/idpay-secrets/secret/weu-uat/configs.json
  src/domains/idpay-secrets/secret/weu-uat/noedit_secret_core_enc.json
  src/domains/idpay-secrets/secret/weu-uat/secret.ini
  src/domains/idpay-secrets/sops.sh
  src/domains/idpay-secrets/terraform.sh
  src/domains/idpay-secrets/terrasops.sh
  src/domains/mil-secrets-poc/secret/weu-dev/noedit_secret_core_enc.json
Labels: applied dev, applied uat, applied prod

#1371 feat: DEV CosmosDB serverless + APIM policies for rate limit on mil-auth
  .gitignore
  scripts/terraform.sh
  src/domains/mcshared-common/api_management_apis.tf
  src/domains/mcshared-common/cosmosdb_accounts.tf
  src/domains/mcshared-common/cosmosdb_mongo_collections.tf
  src/domains/mcshared-common/env/dev/terraform.tfvars
  src/domains/mcshared-common/env/prod/terraform.tfvars
  src/domains/mcshared-common/env/uat/terraform.tfvars
  src/domains/mcshared-common/policies/fragments/rate-limit-by-clientid-claim.xml
  src/domains/mcshared-common/policies/fragments/rate-limit-by-clientid-formparam.xml
  src/domains/mcshared-common/policies/getAccessToken-dev.xml
  src/domains/mcshared-common/policies/getAccessToken.xml
  src/domains/mcshared-common/policies/introspect.xml
  src/domains/mcshared-common/policies/rate-limit-and-cache.xml
  src/domains/mcshared-common/private_dns_zones.tf
  src/domains/mcshared-common/private_endpoints.tf
  src/domains/mcshared-common/role_assignments.tf
  src/domains/mcshared-common/storage_accounts.tf
Labels: applied in all envs

#1378 chore: [SRTp-263] Add rtp storage account
  src/domains/rtp-common/README.md
  src/domains/rtp-common/storage.tf
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtp-common

#1379 chore: [SRTP-268] Add container in storage account rtp
  src/domains/rtp-common/README.md
  src/domains/rtp-common/storage.tf
Labels: dev, uat, prod, applied dev, applied uat, applied prod, rtp-common

#1377 feat: [IDP-2629] added consumer group
  src/domains/idpay-common/env/dev/terraform.tfvars
  src/domains/idpay-common/env/prod/terraform.tfvars
  src/domains/idpay-common/env/uat/terraform.tfvars
Labels: applied dev, idpay-common

#1366 feat: [MMC-125] add paymentButton and agentDeepLinks
  .pre-commit-config.yaml
  .utils/terraform_run_all.sh
  src/aks-platform/.terraform.lock.hcl
  src/domains/mcshared-common/.terraform.lock.hcl
  src/domains/mcshared-common/README.md
  src/domains/mil-app-poc/.terraform.lock.hcl
  src/domains/mil-app-poc/04_apim_emd.tf
  src/domains/mil-app-poc/README.md
  src/domains/mil-app-poc/api/emd_mil_testing/get-network-connection.xml.tpl
  src/domains/mil-app-poc/api/emd_mil_testing/openapi.mil.tpp.yml
  src/domains/mil-app-poc/api/emd_payment_core/generate-deeplink.xml.tpl
  src/domains/mil-app-poc/api/emd_payment_core/get-retrieval-payload.xml.tpl
  src/domains/mil-app-poc/api/emd_payment_core/openapi.payment.yaml
  src/domains/mil-app-poc/api/emd_payment_core/post-save-retrieval-payload.xml.tpl
  src/domains/mil-app-poc/api/emd_tpp/get-network-connection.xml.tpl
  src/domains/mil-app-poc/api/emd_tpp/openapi.tpp.yml
  src/domains/mil-app-poc/api_product/emd/retrieval/policy_emd.xml
  src/domains/mil-common-poc/.terraform.lock.hcl
  src/domains/mil-common-poc/03_cosmosdb.tf
  src/domains/mil-secrets-poc/.terraform.lock.hcl
  src/domains/rtd-app/.terraform.lock.hcl
  src/domains/rtd-common/.terraform.lock.hcl
  src/packer/.terraform.lock.hcl
Labels: applied dev, applied uat, mil-app-poc, mil-common-poc

#1384 feat: add "ricevute" as redirection uri to idpay cdn
  src/domains/idpay-common/99_variables.tf
  src/domains/idpay-common/README.md
Labels: applied in all envs, idpay-common

#1382 feat: added serviceId on wallet response
  src/domains/idpay-app/04_apim_api_io.tf
  src/domains/idpay-app/99_variables.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_wallet/get-wallet-detail-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/get-wallet-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
  src/domains/idpay-app/env/dev/terraform.tfvars
  src/domains/idpay-app/env/prod/terraform.tfvars
  src/domains/idpay-app/env/uat/terraform.tfvars
Labels: applied in all envs, idpay-app

#1386 fix: added loginUrl and precommit
  src/domains/idpay-app/env/dev/terraform.tfvars
  src/domains/idpay-app/env/prod/terraform.tfvars
  src/domains/idpay-app/env/uat/terraform.tfvars
Labels: applied in all envs, idpay-app

#1387 fix: update policy webview on getChild
  src/domains/idpay-app/api/idpay-self-expense/get-child-for-userid.xml.tpl
Labels: applied in all envs, applied dev, idpay-app

#1391 chore(idpay): upgrade tls version service bus
  src/domains/idpay-common/04_service_bus.tf
Labels: applied dev, applied uat, applied prod

#1393 feat: create blob storage webview
  src/domains/idpay-app/09_webview_storage.tf
  src/domains/idpay-app/README.md
  src/domains/idpay-app/api/idpay-self-expense/openapi.self-expense.yml.tpl
Labels: applied dev, applied uat, applied prod, idpay-app
