Repository pagopa/cstar-infrastructure, pull requests merged in 2025-03, with the labels that each got.

#1396 feat: add new intermediate CA
  src/core/99_variables.tf
  src/core/README.md
  src/core/app_gateway.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
Labels: applied in all envs, core, all envs

#1394 feat: [MMC-136] Add api-emd listener on appgw
  src/core/99_locals.tf
  src/core/99_main.tf
  src/core/99_variables.tf
  src/core/README.md
  src/core/api.tf
  src/core/api/base_policy.tpl
  src/core/app_gateway.tf
  src/core/dns_public.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/key_vault_0.tf
Labels: applied dev, applied uat, applied prod

#1390 fix: [EMD] update policy fragment mil
  src/domains/mil-app-poc/06_apim_fragments.tf
  src/domains/mil-app-poc/99_variables.tf
  src/domains/mil-app-poc/README.md
  src/domains/mil-app-poc/api/emd_citizen/openapi.citizen.yml
  src/domains/mil-app-poc/api/emd_message_core/openapi.emd.yml
  src/domains/mil-app-poc/api/emd_message_sender/openapi.emd_sender.yml
  src/domains/mil-app-poc/api/emd_mil_citizen/openapi.mil.citizen.yml
  src/domains/mil-app-poc/api/emd_mil_testing/openapi.mil.tpp.yml
  src/domains/mil-app-poc/api/emd_payment_core/openapi.payment.yaml
  src/domains/mil-app-poc/api/emd_tpp/openapi.tpp.yml
  src/domains/mil-app-poc/api_fragment/validate-token-mil.xml
  src/domains/mil-app-poc/env/dev/terraform.tfvars
  src/domains/mil-app-poc/env/prod/terraform.tfvars
  src/domains/mil-app-poc/env/uat/terraform.tfvars
Labels: applied dev, applied uat, mil-app-poc

#1400 feat: Srtp 272 srtp mtls
  src/core/99_variables.tf
  src/core/README.md
  src/core/app_gateway.tf
  src/core/dns_public.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/key_vault_0.tf
Labels: applied weu-dev, applied weu-uat, applied weu-prod

#1409 fix: handle securitySchemes on emd swagger
  src/domains/mil-app-poc/api/emd_citizen/openapi.citizen.yml
  src/domains/mil-app-poc/api/emd_message_core/openapi.emd.yml
  src/domains/mil-app-poc/api/emd_message_sender/openapi.emd_sender.yml
  src/domains/mil-app-poc/api/emd_mil_citizen/openapi.mil.citizen.yml
  src/domains/mil-app-poc/api/emd_mil_testing/openapi.mil.tpp.yml
  src/domains/mil-app-poc/api/emd_payment_core/openapi.payment.yaml
  src/domains/mil-app-poc/api/emd_tpp/openapi.tpp.yml
Labels: applied dev, applied uat

#1410 fix: update PSP reference on tpp swagger
  .devops/mil-code-review-pipelines.yml
  .devops/mil-deploy-pipelines.yml
  src/domains/mil-app-poc/api/emd_tpp/openapi.tpp.yml
Labels: applied dev, mil-app-poc

#1415 fix: update rate limit
  src/domains/mil-app-poc/.terraform.lock.hcl
  src/domains/mil-app-poc/04_apim_emd.tf
  src/domains/mil-app-poc/99_variables.tf
  src/domains/mil-app-poc/README.md
  src/domains/mil-app-poc/env/dev/terraform.tfvars
  src/domains/mil-app-poc/env/prod/terraform.tfvars
  src/domains/mil-app-poc/env/uat/terraform.tfvars
Labels: applied dev, applied uat, mil-app-poc

#1416 fix: add clock skew to mil authentication
  src/domains/mil-app-poc/api_fragment/validate-token-mil.xml
Labels: applied dev, applied uat, applied prod, mil-app-poc

#1418 fix: Appgw api rtp cb listener
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
Labels: applied dev, applied uat, applied prod

#1420 fix: update-swagger-citizen
  src/domains/mil-app-poc/api/emd_citizen/openapi.citizen.yml
  src/domains/mil-app-poc/api/emd_mil_citizen/openapi.mil.citizen.yml
Labels: applied dev, applied uat, mil-app-poc

#1413 feat: [PAYMCLOUD-309] Enable Prometheus monitoring and private DNS configuration
  src/aks-platform/.terraform.lock.hcl
  src/aks-platform/03_aks_0.tf
  src/aks-platform/03_monitoring.tf
  src/aks-platform/99_main.tf
  src/aks-platform/README.md
  src/core/01_custom_roles.tf
  src/core/README.md
  src/core/observability.tf
Labels: applied dev, applied uat, applied prod
