Repository pagopa/cstar-infrastructure, pull requests merged in 2025-01, with the labels that each got.

#1359 breaking: MongoDB server version upgraded to v7.
  src/domains/mcshared-common/cosmosdb_accounts.tf
Labels: applied dev, applied uat

#1361 fix: MIL workload identity
  src/domains/mil-app-poc/10_workload_identity.tf
Labels: applied dev, applied uat

#1362 feat: [SRTP-137] add collection rtps
  src/domains/rtp-common/03_database.tf
  src/domains/rtp-common/README.md
Labels: applied in all envs, rtp-common

#1363 feat: add ignore changes sku log analytics
  src/core/observability.tf
Labels: applied dev, applied uat, applied prod

#1365 feat: [TAE-219] add Azure alert for failed decrypter blob splitting
  src/domains/tae-app/00_monitor.tf
  src/domains/tae-app/README.md
Labels: prod, applied prod, tae-app

#1364 feat: [IDP-2607] update APIM wallet and added free text field
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_initiative/openapi.initiative.yml
  src/domains/idpay-app/api/idpay_issuer_onboarding_workflow/openapi.issuer.onboarding.yml.tpl
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml.tpl
  src/domains/idpay-app/api/idpay_wallet/get-wallet-detail-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/get-wallet-policy.xml.tpl
  src/domains/idpay-app/api/idpay_wallet/openapi.wallet.yml.tpl
  src/domains/idpay-common/03_database.tf
Labels: applied in all envs, ready to apply, idpay-app, idpay-common

#1368 feat: MIL add webview secrets
  src/domains/mil-secrets-poc/secret/weu-dev/noedit_secret_core_enc.json
Labels: applied dev

#1370 fix: IO Swagger
  src/domains/idpay-app/api/idpay_appio_full/openapi.appio.full.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml
  src/domains/idpay-app/api/idpay_onboarding_workflow/openapi.onboarding.yml.tpl
Labels: applied in all envs, idpay-app
