Repository pagopa/cstar-infrastructure, pull requests merged in 2025-05, with the labels that each got.

#1434 feat: SRTP-453 Add DigiCert and Thawte certificate chains to App Gateway
  src/core-secrets/secret/dev/noedit_secret_enc.json
  src/core-secrets/secret/prod/noedit_secret_enc.json
  src/core-secrets/secret/uat/noedit_secret_enc.json
  src/core/app_gateway.tf
Labels: applied dev, applied uat, applied prod

#1438 feat: [SRTP-451] add activation db and collection to CosmosDB
  src/domains/rtp-common/03_database.tf
  src/domains/rtp-common/README.md
Labels: dev, uat, applied dev, applied uat, rtp-common

#1439 fix: [SRTP-430] add role assignment
  src/domains/rtp-app/04_role_assignments.tf
  src/domains/rtp-app/README.md
Labels: dev, uat, applied dev, applied uat, rtp-app

#1435 chore: Add rtp sender resources.
  src/domains/rtp-app/04_role_assignments.tf
  src/domains/rtp-app/04_user_assigned_identities.tf
  src/domains/rtp-app/99_locals.tf
  src/domains/rtp-app/README.md
Labels: dev, uat, applied dev, applied uat, rtp-app
