Repository pagopa/cstar-infrastructure, changes with the owners that CODEOWNERS names for each.
All owners: @pagopa/payments-cloud-admin, @pagopa/idpay-app-maintainer-team, @pagopa/swc-mil-team

fix permission platform-iac-reader
  src/core/01_custom_roles.tf
Owners: @pagopa/payments-cloud-admin

remove rtp iac
  .devops/rtp-code-review-pipelines.yml
  .devops/rtp-deploy-pipelines.yml
Owners: @pagopa/payments-cloud-admin

remove idpay iac & fix custom role
  .devops/idpay-code-review-pipelines.yml
  .devops/idpay-deploy-pipelines.yml
  src/core/01_custom_roles.tf
Owners: @pagopa/payments-cloud-admin

fix: [PAYMCLOUD-473] Permission platform-iac-reader (#1468)
  .devops/idpay-code-review-pipelines.yml
  .devops/idpay-deploy-pipelines.yml
  .devops/rtp-code-review-pipelines.yml
  .devops/rtp-deploy-pipelines.yml
  src/core/01_custom_roles.tf
Owners: @pagopa/payments-cloud-admin

Notes added by 'git notes add'
  6b/47d2c775354677f61ba0bae2973018c65d35f0
Owners: none

fix remove bonus elettrodomestici cors policy & refactoring certs
  src/core-secrets/secret/dev/noedit_secret_enc.json
  src/core/01_tags.tf
  src/core/99_locals.tf
  src/core/99_main.tf
  src/core/99_variables.tf
  src/core/README.md
  src/core/api.tf
  src/core/app_gateway.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/key_vault_0.tf
  src/tag_config/99_main.tf
  src/tag_config/README.md
  src/tag_config/locals.tf
  src/tag_config/main.tf
  src/tag_config/output.tf
  src/tag_config/variables.tf
Owners: @pagopa/payments-cloud-admin

fix: Remove bonus elettrodomestici cors policy & refactoring certs (#1469)
  src/core-secrets/secret/dev/noedit_secret_enc.json
  src/core/01_tags.tf
  src/core/99_locals.tf
  src/core/99_main.tf
  src/core/99_variables.tf
  src/core/README.md
  src/core/api.tf
  src/core/app_gateway.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/key_vault_0.tf
  src/tag_config/99_main.tf
  src/tag_config/README.md
  src/tag_config/locals.tf
  src/tag_config/main.tf
  src/tag_config/output.tf
  src/tag_config/variables.tf
Owners: @pagopa/payments-cloud-admin

Notes added by 'git notes add'
  93/c8b59b7eb48402e0d82d38df2328e6fde0f757
Owners: none

enable cert diff
  src/core-secrets/secret/dev/noedit_secret_enc.json
  src/core-secrets/secret/prod/noedit_secret_enc.json
  src/core-secrets/secret/uat/noedit_secret_enc.json
  src/core/00_data.tf
  src/core/99_locals.tf
  src/core/99_variables.tf
  src/core/README.md
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/observability.tf
Owners: @pagopa/payments-cloud-admin

apply@uat
  src/core-secrets/secret/prod/noedit_secret_enc.json
  src/core-secrets/secret/uat/noedit_secret_enc.json
  src/core/env/uat/terraform.tfvars
Owners: @pagopa/payments-cloud-admin

feat: [PAYMCLOUD-XXX] Enable cert diff pipeline (#1470)
  src/core-secrets/secret/dev/noedit_secret_enc.json
  src/core-secrets/secret/prod/noedit_secret_enc.json
  src/core-secrets/secret/uat/noedit_secret_enc.json
  src/core/00_data.tf
  src/core/99_locals.tf
  src/core/99_variables.tf
  src/core/README.md
  src/core/env/prod/terraform.tfvars
  src/core/observability.tf
Owners: @pagopa/payments-cloud-admin

Notes added by 'git notes add'
  75/e523848029a16d601225ad44abd2485357d55c
Owners: none

added app gw listener for platform domain
  src/core/99_locals.tf
  src/core/app_gateway.tf
  src/core/key_vault_0.tf
Owners: @pagopa/payments-cloud-admin

pre-commit fixs
  src/core/README.md
Owners: @pagopa/payments-cloud-admin

updated .pre-commit-config.yaml to version v1.99.2
  .pre-commit-config.yaml
Owners: none

updated static analysis actions
  .github/workflows/static_analysis.yml
  .github/workflows/static_analysis_pr.yml
Owners: @pagopa/payments-cloud-admin

feat: RTD-2658 app gw added platform endpoint (#1471)
  .github/workflows/static_analysis.yml
  .github/workflows/static_analysis_pr.yml
  .pre-commit-config.yaml
  src/core/99_locals.tf
  src/core/README.md
  src/core/app_gateway.tf
  src/core/key_vault_0.tf
Owners: @pagopa/payments-cloud-admin

Notes added by 'git notes add'
  7f/e79b64cbe1f7065e805c15d5f3429a2277d6b1
Owners: none

moved idpay to legacy folder
  .github/workflows/static_analysis_pr.yml
Owners: @pagopa/payments-cloud-admin

breaking: Idpay removed form WEU PROD and UAT (#1472)
  src/domains/idpay-app/06_apim_fragments.tf
Owners: @pagopa/idpay-app-maintainer-team

Notes added by 'git notes add'
  07/2dc76d566a230dadc3246c7e387944425aa302
Owners: none

cert-diff enabled@prod
  src/core/99_locals.tf
  src/core/99_variables.tf
  src/core/README.md
  src/core/env/prod/terraform.tfvars
Owners: @pagopa/payments-cloud-admin

feat: [PAYMCLOUD-532] Enabled -stable certificate on api.cstar.pagopa.it (#1473)
  src/core/99_locals.tf
  src/core/99_variables.tf
  src/core/README.md
  src/core/env/prod/terraform.tfvars
Owners: @pagopa/payments-cloud-admin

Notes added by 'git notes add'
  a7/2a696421449120b48dc685e87c20d1f1a8d831
Owners: none

added APIM autoscale for prod
  src/core/99_variables.tf
  src/core/app_gateway.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
Owners: @pagopa/payments-cloud-admin

pre-commit fixs
  src/core/99_variables.tf
  src/core/README.md
  src/core/env/prod/terraform.tfvars
Owners: @pagopa/payments-cloud-admin

feat: RTD-2663 bonus elettrodomestici hardening infra phase 1 (#1474)
  src/core/99_variables.tf
  src/core/README.md
  src/core/app_gateway.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
Owners: @pagopa/payments-cloud-admin

Notes added by 'git notes add'
  0e/dafe63c2c9d8864ca9d8e78e2fabbe2a4a0341
Owners: none

add grafana tag
  src/core/app_gateway.tf
Owners: @pagopa/payments-cloud-admin

add grafana tag
  src/core/app_gateway.tf
Owners: @pagopa/payments-cloud-admin

chore: APPGW grafana tag (#1475)
  src/core/app_gateway.tf
Owners: @pagopa/payments-cloud-admin

add deny rewrite
  src/core/app_gateway.tf
Owners: @pagopa/payments-cloud-admin

feat: Add deny rewrite on query string (#1476)
  src/core/app_gateway.tf
Owners: @pagopa/payments-cloud-admin

Notes added by 'git notes add'
  24/4f66663c3d1151fe5b1a4cc3c29850adcc84fa
Owners: none

feat: Added APIM autoscale configuration
  src/core/99_variables.tf
  src/core/api.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
Owners: @pagopa/payments-cloud-admin

feat: Added APIM autoscale configuration
  src/core/README.md
Owners: @pagopa/payments-cloud-admin

feat: APIM added autoscale configuration (#1477)
  src/core/99_variables.tf
  src/core/README.md
  src/core/api.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
Owners: @pagopa/payments-cloud-admin

Notes added by 'git notes add'
  6f/336c6215204478d0fcbbac84542278a9e5f5e4
Owners: none

disable ddos
  src/core/env/prod/terraform.tfvars
Owners: @pagopa/payments-cloud-admin

disable ddos
  src/core/env/prod/terraform.tfvars
Owners: @pagopa/payments-cloud-admin

CODEOWNERS:

# see <https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file>

## Payments cloud team

.github @pagopa/payments-cloud-admin
.devops @pagopa/payments-cloud-admin
.utils @pagopa/payments-cloud-admin
scripts @pagopa/payments-cloud-admin
src/aks-platform @pagopa/payments-cloud-admin
src/core @pagopa/payments-cloud-admin
src/packer @pagopa/payments-cloud-admin
.terraform @pagopa/payments-cloud-admin
src/domains/*-common @pagopa/payments-cloud-admin

## Idpay

src/domains/idpay-* @pagopa/idpay-app-maintainer-team
src/domains/rtd-* @pagopa/idpay-app-maintainer-team
src/domains/tae-* @pagopa/idpay-app-maintainer-team

## MIL

src/domains/mil-* @pagopa/swc-mil-team
src/domains/rtp-* @pagopa/swc-mil-team
src/domains/tier-0-* @pagopa/swc-mil-team
